
{% set gifts = runSnippet('DocLister', {
display: 3,
parents: baseSettings.id,
depth: 2,
addWhereList: 'c.template = (13)',
tvList:'image,color',
tpl:'@T_FILE:partials/actions_actions'
})
%}

{% if gifts is not same as("") %}
<div class="actions-block pb-4">
    <div class="container">
        <h2 class="h2 mb-4">Акции</h2>
        <div class="row">
            {{gifts | raw}}
        </div>
    </div>
</div>
{% else %}
    <div class="actions-block pb-4">
        <div class="container">
            <h2 class="h2 mb-4">Акции</h2>
            <div class="row">
                <div class="col-lg-4 col-md-12 mb-3">
                    <div class="item position-relative">
                        <div class="name mb-3">
                            Без подарка <br><span>не оставим</span>
                        </div>
                        <p>           
                         Ваc ждет персональный подарок при покупке авто
                        </p>
                        <img src="{{ runSnippet('phpthumb', {input: "/templates/major/img/action1.png", options:'zc=1 fltr[]=ric|15|15'}) }}" style="max-width:100%;">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-3">
                    <div class="item position-relative">
                        <div class="name mb-3">
                            СЧАСТЛИВЫЕ ЧАСЫ
                        </div>
                        <p>           
                         Посетите наш салон с <strong>9 до 13:00</strong> в любой день недели и получите при покупке авто целый бак бензина!
                        </p>
                        <img src="{{ runSnippet('phpthumb', {input: "/templates/major/img/action2.png", options:'zc=1 fltr[]=ric|15|15'}) }}" style="max-width:100%;">
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 mb-3">
                    <div class="item position-relative">
                        <div class="name mb-3">
                            НОВАЯ КРЕДИТНАЯ ПРОГРАММА <br><span>НА КИТАЙСКИЕ АВТО</span>
                        </div>
                        <p>           
                         Кредитная ставка от 0% годовых, без первого взноса, по 2-м документам.
                        </p>
                        <img src="{{ runSnippet('phpthumb', {input: "/templates/major/img/action3.png", options:'zc=1 fltr[]=ric|15|15'}) }}" style="max-width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{#% set gifts = runSnippet('DocLister', {
display: 3,
parents: 24,
depth: 0,
tvList:'image,color',
tpl:'@T_CODE:
<div class="col-xl-4 col-lg-6">
    <div class="item" style="background: url('{{ runSnippet(\'phpthumb\', {input: data[\'tv.image\'], options:\'w=130,h=130,zc=1\'}) }}') center/cover;">
        <p>{{ data.title }}</p>
        <button>Подробнее</button>
    </div>
</div>'
})
%#}
