{#% set thumb = runSnippet('morephoto', {
images: data['tv.car_photos'],
phpthumb: 'w=250,h=168,zc=C',
tpl: '@CODE:[+image.thumb+]',
total: 1,
display: 1
}) %#}
{#{ data['tv.car_photos'] }#}
{#% set oldprice = runSnippet('helpers', {caroldprice: data['tv.car-price'],
action:'caroldprice'}) %#}
{#<div class="col-xl-3 col-lg-4 col-md-6 h-auto">
    <div class="item">
        <a href="{{ data['url'] }}"><img src="{{ data['tv.image'] }}" class="image"></a>
        <div class="flex">
            <a href="{{ data['url'] }}" class="d-block name">{{ data['title'] }}</a>
            <div class="nal"><span></span> В наличии</div>
        </div>
        <p>
            С пробегом / {{ data['tv.year'] }} / {{ ( data['tv.run'] )|number_format(0, '.', ' ') }}км / {{ data['tv.car_color'] }} <br />
            {{ data['tv.engine_volume'] }} {{ data['tv.gear'] }} ({{ data['tv.engine_power'] }} л.с.) <br />
            {{ data['tv.equipment'] }}
        </p>
        <div class="flex">
            <div class="price">
                <span>{{ ( data['tv.car-price'] )|number_format(0, '.', ' ') }}</span> ₽
            </div>
            <div class="special">
                Специальное предложение
            </div>
        </div>
        <div class="buttons">
            <button onclick="location.href='{{ data['url'] }}';">Подробнее</button>
            <button class="btn" type="button" data-toggle="modal" data-target="#oneclick">Купить в 1 клик</button>
        </div>
    </div>
</div>#} 
{% set brands2 = runSnippet('DocLister', {
parents: 593,
depth: 0,
orderBy: 'menuindex',
order: 'ASC',
tvList:'',
ownerTPL: '@CODE:     [+dl.wrap+]',
tpl:'@CODE: <a href="[+url+]" class="col-6 col-sm-4 col-md-3 col-lg-2">[+pagetitle+]</a>',
api: 0,
noneTPL:'@CODE: <div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
        </div>
    </div>
</div>',
})
%}
{#
{% set photo = runSnippet ('DocLister', {parents: data.id,
depth: 0,
orderBy: 'menuindex',
api: 1,
order: 'ASC',
tvList:'configuration_id, car-price, old-car-price',
ownerTPL: '@CODE:[+dl.wrap+]',
tpl:'@CODE:[+tv.configuration_id+]'}) %}
{% set DLdata = photo | json %}
{% set photo = "https://s3.multiauto.site/new_cars/" ~ DLdata|first['tv_configuration_id'] ~ ".jpg" %}
#}
{% set photo = runSnippet ('DocLister', {parents: data.id,
depth: 0,
orderBy: 'menuindex',
api: 1,
order: 'ASC',
tvList:'configuration_id, car-price, old-car-price',
ownerTPL: '@CODE:[+dl.wrap+]',
tpl:'@CODE:[+tv.configuration_id+]'}) %}
{% set DLdata = photo | json %}
{% set photo = "https://s3.multiauto.site/new_cars/" ~ DLdata|first['tv_configuration_id'] ~ ".jpg" %}
{% set configuration_id = runSnippet('DocLister', {
id: resource.id, tvList: 'configuration_id', display: 1, tpl: '@CODE:[+tv.configuration_id+]'} ) %}
{% set car_photos = "https://s3.multiauto.site/new_cars/" ~ configuration_id ~ ".jpg"%}

{{ data | dump }}
<div class="item position-relative"><a href="{{ data['url'] }}">
                    <span class="hit position-absolute py-1 px-3">HIT</span>
                    <div class="image">
                        <img src="{{car_photos | raw}}">
                    </div>
                    <div class="p-3">
                        <a href="#" class="name d-block mb-2">{{runSnippet ('DocInfo', {docid:data.parent, field:pagetitle}) |raw }} {{ data['title']  }} </a>
                        <div class="row data text-center">
                            
                        </div>
                        <div class="price mb-3">
                            <span class="old d-inline-block mb-1">{#{ DLdata|first['tv_old-car-price'] }#}{{data["car-price"]}} ₽</span>
                            <div class="new">
                                {{ DLdata|first['tv_car-price'] }} ₽
                            </div>
                        </div>
                        <div class="buttons">
                            <button  data-fancybox="" data-src="#popup" class="w-100 mb-2">В кредит от 4,9%</button>
                            <button  data-fancybox="" data-src="#popup" class="w-100 mb-2">Забронировать</button>
                            <button class="w-100">Подробнее</button>
                        </div>
                    </div></a>
                </div>