{% set configuration_id = runSnippet('DocLister', {
    id: resource.id, tvList: 'configuration_id', display: 1, tpl: '@CODE:[+tv.configuration_id+]'} ) %}
{% set photo = data['image_format'] %}

{# { data | dump } #}
<div class="item col-12 col-sm-3 position-relative mb-3 "><a href="{{ data['url'] }}">
        <span class="hit position-absolute py-1 px-3">HIT</span>
        <div class="image">
            <img src="{{ photo }}">
        </div>
        <div class="p-3">
            <a href="{{ data.url }}"
               class="name d-block mb-2">{{ runSnippet ('DocInfo', {docid:data.parent, field:pagetitle}) |raw }} {{ data['title'] }} </a>
            <div class="row data text-center">

            </div>
            <div class="config_car row text-center mt-1 mb-1">
                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <img src="/templates/major/img/tabler_engine.png" alt="Гарантия">
                    <p>3.0 л.</p>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <img src="/templates/major/img/fluent_transmission-24-filled.png" alt="Гарантия">
                    <p>Автомат</p>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <img src="/templates/major/img/fluent_drive-train-24-regular.png" alt="Гарантия">
                    <p>Полный</p>
                </div>

            </div>
            <div class="price mb-3">
                {% if data["tv.old-car-price"] %}
                    <span class="old d-inline-block mb-1">{{ data["tv.old-car-price"] }} ₽</span>
                {% endif %}

                {% if data["tv.car-price"] %}
                    <div class="new">
                        {{ data["tv.car-price"] }} ₽
                    </div>
                {% endif %}
            </div>
            <div class="buttons">
                <button data-fancybox="" data-src="#popup" class="w-100 mb-2">В кредит от 4,9%</button>
                <button data-fancybox="" data-src="#popup" class="w-100 mb-2">Забронировать</button>
                <button class="w-100" onclick="location.href='{{ data.url }}';">Подробнее</button>
            </div>
        </div>
    </a>
</div>
