{# {{ runSnippet('map', {zoom:'15',grey:'1', coords:baseSettings.salon_coordinates, title:baseSettings.pagetitle,color:'#dc143c'
}) | raw}} #}
{% set map = runSnippet('map', {zoom:'15',grey:'1', class:'123', coords:baseSettings.salon_coordinates, width:'80', title:baseSettings.pagetitle,color:'#dc143c'
}) %}
<div class="index-contacts-block pt-5 pb-4 mb-5 position-relative">
    <div class="container">
        <h2 class="h2 mb-4">Контакты</h2>
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-7 col-sm-6">
                <div class="map mb-3">
                    {{ map | raw }}
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6">
                <div class="logo pt-3 pb-4">
                    <a href="/"><span class="logotype" style="background-image: url({{baseSettings["logo"]}}); background-size: contain;
        background-repeat: no-repeat;
        background-position: right;"></span> <span class="city align-middle pl-2 ml-2">{{city}}</span></a>
                </div>
                <div class="item mb-4">
                    Адрес:
                    <span class="d-block mt-2">{{baseSettings.salon_location}} </span>
                </div>
                <div class="item mb-4">
                    Телефон:
                    <span class="d-block mt-2">{{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1'}) | raw}} </span>
                </div>
                <div class="item mb-4">
                    График работы:
                    <span class="d-block mt-2">Ежедневно с 8:00 до 21:00</span>
                </div>
                <button class="btn btn-danger">Проложить маршрут</button>
            </div>
        </div>
    </div>
</div>

