{% set headermenu = runSnippet('DLMenu', {
parents: baseSettings["id"],
tvList: 'image',
rowTpl: '@CODE:<li><a href="[+url+]">[+pagetitle+]</a></li>',
outerTpl: '@CODE:<ul>
    [+wrap+]</ul>'}) %}
{% set headermenu2 = runSnippet('DLMenu', {
parents: baseSettings["id"],
tvList: 'image',
rowTpl: '@CODE:<li><a href="[+url+]">[+pagetitle+]</a></li>',
outerTpl: '@CODE:<ul>
    [+wrap+]</ul>'}) %}



{#
<div class="menubg"></div>
<header class="header py-3">
    <div class="container flex">
        <div class="logo">
            {% if baseSettings["logo"] %}
                <a style="background: url({{baseSettings["logo"]}}) no-repeat;
                        background-size: cover; background-position: center;
                        " href="/" class="d-inline-block"></a>
            {% else %}
                <div style="width: 200px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
                color: #D12D1E;">{{ baseSettings.pagetitle }}
                </div>
            {% endif %}
        </div>
        <a class="menu-button"></a>
        <ul class="pt-4 mt-1">
            <li class="d-inline-block"><a href="/katalog-novyh-avtomobilej/">Автомобили в продаже</a></li>
                                        <li class="d-inline-block"><button class="btn btn-danger w-100">Заказать звонок</button></li>

            <li class="d-inline-block"><a href="#">Услуги</a></li>
            <li class="d-inline-block"><a href="#">О компании</a></li>
            <li class="d-inline-block"><a href="#">Контакты</a></li>
        </ul>
        <div class="phone">
        {{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class:"phone mt-3 pt-2"}) | raw}}
                <a href="{{baseSettings["salon-phone"]}}">заказать экспресс-звонок</a>
        </div>
        
    </div>
</header>
#}

{# <div class="menubg"></div> #}
<div class="menubg">
    <header class="header2">
        <div class="container flex">
            <div class="logo">
                {% if baseSettings["logo"] %}
                <a style="background: url({{baseSettings["logo"]}}) no-repeat;
                        background-size: contain; background-position: center;
                        " href="/" class="d-inline-block"></a>
                {% else %}
                <a href="/">
                <div style="width: 200px;
                    height: 48px;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    justify-content: center;
                    color: #FFFF;">{{ logo }}
                </div>
                </a>
                {% endif %}
            </div>
            <div class="phone pb-1">
                {{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1'}) | raw}}
                <a href="#" data-src="#popup" data-fancybox="">заказать экспресс-звонок</a>
            </div>
            <img src="/templates/major/img/close.svg" class="img_close" style="width:20px; height:20px; margin-top: 38px;"> 
        </div>
    <div class="container">
        <div>
        <div style="width:100%" class="d-flex flex-column justify-content-center align-items-center mt-2">
            {{headermenu|raw}}
        </div>
        <div class="line"></div>
        <div class="mt-2 d-flex flex-column justify-content-center align-items-center" style="width:100%; color:#FFF;">
            <div class="mb-1">
                {{baseSettings.salon_location}}
            </div>
            <div class="mb-1 mt-1" style="color: #667B88;font-weight: 600;">
                с 9.00 до 21.00
            </div>
            <div class="mb-1">
                {{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class:"phone pt-1"}) | raw}}
            </div>
            </div>
        </div>
    </header>
</div>
    <header class="header">
        <div class="container flex">
            <div class="logo">
                {% if baseSettings["logo"] %}
                <a style="background: url({{baseSettings["logo"]}}) no-repeat;
                        background-size: contain; background-position: center;
                        " href="/" class="d-inline-block"></a>
            {% else %}
                <div style="width: 200px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
                color: #D12D1E;">{{ baseSettings.pagetitle }}
                </div>
            {% endif %}
            </div>

            {{headermenu|raw}}
            <div class="phone pb-1">
                {{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1'}) | raw}}
                <a href="#" data-src="#popup" data-fancybox="">заказать экспресс-звонок</a>
            </div>
            <a class="menu-button">
                <span></span>
                <span></span>
                <span></span>
            </a>
            {#<div class="location">
            <span>Адрес: {{baseSettings.salon_location}}</span>
            </div>#}
            
        </div>
    </header>
                    
    <div class="index-top-line py-3">
        <div class="container flex">
            <p>В кредит под {% if baseSettings.credit_rate is empty %}
    4.9
{% else %}
    {{ baseSettings.credit_rate }}
{% endif %}% или в рассрочку под 0% <button  data-src="#popupCredNew" data-fancybox="">Купить в кредит</button><span class="d-inline-block mx-3">|</span> В трейд-ин с выгодой до 300 000 ₽<button class="but2" data-src="#popup" data-fancybox="">Заказать звонок</button></p>
            {# <img src="/templates/major/img/car.png"> #}
            <a href="#" onclick="closeBlock(event)" class="close-link link d-block"></a>
        </div>
    </div>
    <div class="index-top-line mob py-3">
    <div class="container flex">
        <div class="credit-section w-100">
            <p class="mb-2">В кредит под
            {% if baseSettings.credit_rate is empty %} 
            4.9%
            {% else %}
            {{ baseSettings.credit_rate }}
            {% endif %}% или в рассрочку под 0%</p>
            <button class="buy-credit" data-src="#popupCredNew" data-fancybox="">Купить в кредит</button>
        </div>
        <hr class="divider">
        <div class="trade-in-section w-100">
            <p class="mb-2">В трейд-ин с выгодой до 300 000 ₽</p>
            <button class="order-call" data-src="#popup" data-fancybox="">Заказать звонок</button>
        </div>
             <a href="#" onclick="closeBlock(event)" class="close-link link d-block"></a>
    </div>
</div>
<style>
.header .logo{
  background-color: #181818;
}

</style>
<script>
function closeBlock(event) {
    event.preventDefault();
    document.querySelector('.index-top-line').style.display = 'none';
    document.querySelector('.index-top-line.mob').style.display = 'none';
}

</script>