{#% set thumb = runSnippet('morephoto', {
images: data['tv.car_photos'],
phpthumb: 'w=250,h=168,zc=C',
tpl: '@CODE:[+image.thumb+]',
total: 1,
display: 1
}) %#}
{% set car_photos = "https://s3.multiauto.site/new_cars/" ~ data['tv.configuration_id'] ~ ".jpg"%}
{% set modification = runSnippet('takemodels', {configuration_id: data["tv.configuration_id"] }) %}
    <div class="item">
	<img src="{{car_photos| raw}}">
	<div class="text p-sm-3 p-2">
		<div class="name mb-2">
			{{ data['pagetitle'] }}
			{{data[tv.body_type]}}
		</div>
		<div class="info mb-sm-4 mb-2">
			Комплектаций: {{ modification|length }}

		</div>
		<div class="price mb-2">
			от
			{{ data['tv.car-price'] }}
			₽
		</div>
		<button onclick="location.href='{{ data['url'] }}';">Подробнее</button>
	</div>
</div>