{#% set thumb = runSnippet('morephoto', {
images: data['tv.car_photos'],
phpthumb: 'w=250,h=168,zc=C',
tpl: '@CODE:[+image.thumb+]',
total: 1,
display: 1
}) %#}
{#{ data['tv.car_photos'] }#}

{# Получаем случайное изображения (ссылку) из поля "Фотографии" (car_photos) #}
{% set randomPhotoLink = runSnippet('helpers', {jsonPhotos: data['tv.car_photos'],
    action:'randomPhoto'})
%}

{% set oldprice = runSnippet('helpers', {caroldprice: data['tv.car-price'],
action:'caroldprice'}) %}
<div class="col-md-4 col-sm-6">
    <div class="item mb-4 p-2">
        <img src="{{ randomPhotoLink }}" class="w-100 mb-3">
        <div class="name mb-2">
            {{ data['title'] }}, {{ data['tv.year'] }}
        </div>
        <div class="age mb-3">
            {{ data['tv.modification'] }} поколение
        </div>
        <p class="mb-2">С пробегом / {{ data['tv.year'] }} / {{ ( data['tv.run'] )|number_format(0, '.', ' ') }}км / {{ data['tv.car_color'] }}</p>
        <p class="mb-3">{{ data['tv.engine_volume'] }} {{ data['tv.gear'] }} ({{ data['tv.engine_power'] }} л.с.) {{ data['tv.equipment'] }}</p>
        <div class="status text-center mb-3">
            <span class="d-inline-block">В наличии</span>
        </div>
        <div class="price text-center mb-3">
            От {{ ( data['tv.car-price'] )|number_format(0, '.', ' ') }} ₽
        </div>
        <div class="special mb-3">
            Специальное предложение
        </div>
        <div class="text-center mb-4">
            <button onclick="location.href='{{ data['url'] }}';" class="btn">Подробнее</button>
        </div>
    </div>
</div>
