{% set footernav = runSnippet('DLMenu', {
    parents: baseSettings.id,
    tvList: 'image',
    maxDepth: 1,
    rowTpl: '@CODE:<li class="d-inline-block"><a href="[+url+]">[+pagetitle+]</a></li>',
    outerTpl: '@CODE:<ul class="pt-3 mb-4">[+wrap+]</ul>'}) %}
{#<footer class="footer pt-4">#}
{#    <div class="container">#}
{#        <div class="flex">#}
{#            <div class="logo mb-4">#}
{#                <a href="/">#}
{#                    {% if baseSettings["logo"] %}#}
{#                        <img src="{{ runSnippet('phpthumb', {input: baseSettings["logo"], options: 'w=120,h=50,far=C,f=png,q=1'}) }}">#}
{#                    {% else %}#}
{#                        <div style="width: 200px;#}
{#                height: 48px;#}
{#                font-style: normal;#}
{#                font-weight: 400;#}
{#                font-size: 20px;#}
{#                line-height: 24px;#}
{#                display: flex;#}
{#                align-items: center;#}
{#                text-transform: uppercase;#}
{#                justify-content: center;#}
{#                color: #D12D1E;">{{ baseSettings.pagetitle }}#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </a>#}
{#            </div>#}
{#            <ul class="pt-3 mb-4">#}
{#                <li class="d-inline-block"><a href="/avtomobili-s-probegom">Каталог</a></li>#}
{#                <li class="d-inline-block"><a href="/akcii2">Акции</a></li>#}
{#                <li class="d-inline-block"><a href="#adres">Контакты</a></li>#}
{#            </ul>#}
{#            <div class="contacts mb-4">#}
{#                {{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class: 'd-block pl-4 mb-3 phone'}) | raw}}#}
{#                <!--a href="#" class="d-block pl-4 mail">info@auto_star.ru</a-->#}
{#            </div>#}
{#        </div>#}
{#        <div class="social mb-4 text-center">#}{##}
{#            <a href="#" class="d-inline-block mx-2"><img src="img/social1.png"></a>#}
{#            <a href="#" class="d-inline-block mx-2"><img src="img/social2.png"></a>#}
{#            <a href="#" class="d-inline-block mx-2"><img src="img/social3.png"></a>#}
{#        </div>#}
{#        <div class="copy text-center py-3">#}
{#            © {{resource.pagetitle}} 2023. Все права защищены#}
{#        </div>#}
{#        <div class="container-fluid copy  py-3">#}
{#        <p style="font-size: 10px">{{baseSettings.footer |raw}}</p>#}
{#        </div>#}
{#    </div>#}
{#</footer>#}
{#<div class="copy-block">#}
{#    <div class="container-fluid">#}
{#    </div>#}
{#</div>#}

{#New#}
<footer class="footer pt-4">
    <div class="container">
        <div class="flex">
            <div class="logo mb-4">
                <a href="/">
                    {% if baseSettings["logo"] %}
                        <img src="{{ runSnippet('phpthumb', {input: baseSettings["logo"], options: 'w=120,h=50,far=C,f=png,q=1'}) }}">
                    {% else %}
                        <div style="width: 200px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
                color: #D12D1E;">{{ baseSettings.pagetitle }}
                        </div>
                    {% endif %}
                </a>
            </div>
            {{ footernav|raw}}
            <div class="contacts mb-4">
                {{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class: 'd-block pl-4 mb-3 phone'}) | raw}}
                <!--a href="#" class="d-block pl-4 mail">info@auto_star.ru</a-->
            </div>
        </div>
        <div class="social mb-4 text-center">
{#            <a href="#" class="d-inline-block mx-2"><img src="img/social1.png"></a>#}
{#            <a href="#" class="d-inline-block mx-2"><img src="img/social2.png"></a>#}
{#            <a href="#" class="d-inline-block mx-2"><img src="img/social3.png"></a>#}
        </div>
        <div class="copy text-center py-3">
            © {{resource.pagetitle}} 2023. Все права защищены
        </div>
        <div class="container-fluid copy  py-3">
            <p style="font-size: 10px">{{baseSettings.footer |raw}}</p>
        </div>
    </div>
</footer>
