{% set headermenu = runSnippet('DLMenu', {
parents: baseSettings["id"],
tvList: 'image',
maxDepth: 1,
rowTpl: '@CODE:

<li class="d-md-inline-block"><a href="[+url+]">[+pagetitle+]</a></li>',
outerTpl: '@CODE:<ul>
    [+wrap+]</ul>'}) %}
<header class="header">
	<div class="container">
		<div class="flex">
			<div class="logo">
				<a href="/">
                    {% if baseSettings["logo"] %}
                        <img src="{{baseSettings["logo"]}}">
                    {% else %}
                        <div style="width: 200px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
                color: #D12D1E;">{{ baseSettings.pagetitle }}
                        </div>
                    {% endif %}
					
				</a>
			</div>
			{# <div class="adress">
				<div><img src="/templates/autosalon/img/map.png" class="mr-3"></div>
				<div>
					<span class="d-block"></span>{{baseSettings.salon_location}}

				</div>
			</div>  #}
		{# <button class="btn btn-primary mobburger" type="button" id="openOffcanvas"></button> #}
		
		<div class="contacts">
		<div class="adress mr-3">
				<div><img src="/templates/chinaautosalon/img/geo-alt-fill.svg" class="mr-1"></div>
				<div>
					<span class="d-block"></span>{{baseSettings.salon_location}}

				</div>
			</div> 
		<div class="hours pl-4">
					Без выходных
					с 09:00 до 21:00
			</div>
			{# <div class="contacts"> #}
				{# <a class="menu-button"></a> #}
				<a class="menu-button mobburger" id="openOffcanvas"></a>
				{{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class:"phone pl-4"}) | raw}}
				<button data-fancybox="" data-src="#popup">Заказать звонок</button>
				{# <div class="hours">
					Работаем ежедневно
					<br/>
					с 09:00 до 21:00
				</div> #}
			</div>
		
		<nav>
			{{headermenu|raw}}
		</nav>

		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
  			<div class="offcanvas-header">
				<div class="logo">
					<a href="/">
						{% if baseSettings["logo"] %}
							<img src="{{baseSettings["logo"]}}">
						{% else %}
							<div style="width: 200px;
					height: 48px;
					font-style: normal;
					font-weight: 400;
					font-size: 20px;
					line-height: 24px;
					display: flex;
					align-items: center;
					text-transform: uppercase;
					justify-content: center;
					color: #D12D1E;">{{ baseSettings.pagetitle }}
							</div>
						{% endif %}
						
					</a>
				</div>
    			<button type="button" id="closeOffcanvas" class="btn-close text-reset" aria-label="Close"></button>
  			</div>
  		<div class="offcanvas-body">
    	<nav>
			{{headermenu|raw}}
		</nav>

		<div class="hours2 pl-4">
					Без выходных
					с 09:00 до 21:00
				</div>

		<div class="adress2">
				<div><img src="/templates/chinaautosalon/img/geo-alt-fill.svg" class="mr-1"></div>
				<div>
					<span class="d-block"></span>{{baseSettings.salon_location}}

				</div>
		</div>

		<div class="contacts2">
				<a class="menu-button"></a>
				{{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class:"phone2 pl-4"}) | raw}}
				
			</div>
			<div class="mt-3 d-flex justify-content-center">
			<button data-fancybox="" data-src="#popup">Заказать звонок</button>
			</div>
		</div>
				
  </div>
</div>
	
</div>
</header>
<style>
.mobburger{
	display:none;
	width: 26px;
    height: 17px;
    background: url(/templates/chinaautosalon/img/menu-button.svg) no-repeat;
    margin-top: 15px;
	margin-left: 50px;
}

@media (max-width: 575px) {
	.mobburger{
	display:block;	
	}
}
</style>


{% block SCRIPTS %}
 <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
 <script type="text/javascript">
$(document).ready(function() {
  $('#openOffcanvas').click(function() {
    $('#offcanvasExample').addClass('show');
  });

  $('#closeOffcanvas').click(function() {
    $('#offcanvasExample').removeClass('show');
  });

  $('#dropdownButton').click(function() {
    $('#dropdownMenu').toggleClass('show');
  });

  // Закрыть выпадающее меню при клике за его пределами
  $(document).click(function(event) {
    if (!$(event.target).closest('#dropdownButton').length) {
      $('#dropdownMenu').removeClass('show');
    }
  });
});
 </script>
 {% endblock %}