{% set headermenu = runSnippet('DLMenu', {
parents: baseSettings["id"],
tvList: 'image',
maxDepth: 1,
rowTpl: '@CODE:

<li class="d-md-inline-block"><a href="[+url+]">[+pagetitle+]</a></li>',
outerTpl: '@CODE:<ul>
    [+wrap+]</ul>'}) %}
<header class="header">
	<div class="container">
		<div class="flex">
			<div class="logo">
				<a href="/">
                    {% if baseSettings["logo"] %}
                        <img src="{{baseSettings["logo"]}}">
                    {% else %}
                        <div style="width: 200px;
                height: 48px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                justify-content: center;
                color: #D12D1E;">{{ baseSettings.pagetitle }}
                        </div>
                    {% endif %}
					
				</a>
			</div>
			<div class="adress">
				<div><img src="/templates/autosalon/img/map.png" class="mr-3"></div>
				<div>
					<span class="d-block"></span>{{baseSettings.salon_location}}

				</div>
			</div>
			<div class="contacts">
				<a class="menu-button"></a>
				{{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], format: '+7 (xxx) xxx-xx-xx', link: '1', class:"phone pl-4"}) | raw}}
				<button data-fancybox="" data-src="#popup">Заказать звонок</button>
				<div class="hours">
					Работаем ежедневно
					<br/>
					с 09:00 до 21:00
				</div>
			</div>
		</div>
		<nav>
			{{headermenu|raw}}
		</nav>
	</div>
</header>
 {% block SCRIPTS %}
 <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
 <script type="text/javascript">
 $(document).ready(function() {
    let firstMenuItem = $('.header ul li:first-child');
	if (firstMenuItem) {
	var img = document.createElement("img");
	img.setAttribute("src", "/templates/chinaautosalon/img/caret.svg");
	img.setAttribute("class", "listdown");
	img.setAttribute("width", "20");
	img.setAttribute("height", "20");
	img.setAttribute("display", "none");
	firstMenuItem.append(img);
	}  
});
 </script>
 {% endblock %}