{# <div class="col-12 px-2 pb-3 py-lg-1" data-name="{{ data['name'] }}">
    <div class="pb-2 pb-lg-0 fw-bold">{{ data['caption'] }}{% if data['unit'] %}, {{ data['unit'] }}{% endif %}</div>
    <div class="row m-0 d-block filter-checkbox">{{ data['wrap'] | raw }}</div>
</div> #}

    {#{ data['wrap'] | raw }#}


<div class="col-lg-3 col-md-4 col-6 mb-4" data-name="{{ data['name'] }}">
    {#<label for="formModel{{ data['id'] }}" class="form-label small">{{ data['caption'] }}{% if data['unit'] %}, {{ data['unit'] }}{% endif %}</label>#}
    {% if data['id'] == 43 %}
        {{ runSnippet('helpers', {'action':'getModelsByMark'}) | raw }}
    {% else %}
        <select class="form-select choicesCar" id="formModel{{ data['id'] }}" name="f[{{ data['id'] }}]" data-id="{{ data['id'] }}">   
            <option value="" selected disabled>{{ data['caption'] }}</option>
            {{ data['wrap'] | raw }}    
        </select>
    {% endif %}
</div>