<div class="modal fade" id="oneclick" tabindex="-1" role="dialog" aria-labelledby="oneclick" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="background: #b71f25;">
      <!--div class="modal-header">
        <h5 class="modal-title" id="oneclick">Форма обратной связи</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div-->
      <!--div class="modal-body">
        Оставьте заявку - и наш менеджер свяжется с Вами в ближайшее время      </div-->{#{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/autodm/partials/forms/feedback_modal/',
      extension: 'twig'
      }) | raw }#}
      <!--div class="modal-footer">
        <button type="button" class="btn btn-primary">Отправить</button>
      </div-->
    </div>
  </div>
</div>
{{ runSnippet('Form', {
formid: 'FormCallback',
path: '/templates/rofl/partials/forms/feedback_modal/',
extension: 'twig'
}) | raw }}
{{ runSnippet('Form', {
formid: 'FormCallback',
path: '/templates/rofl/partials/forms/feedback_modal_bron/',
extension: 'twig'
}) | raw }}
{# {{ runSnippet('Form', {
formid: 'FormCallback',
path: '/templates/chinaautosalon3/partials/forms/feedback_modal_bron2/',
extension: 'twig'
}) | raw }} #}
<div class="modal fade" id="tradein" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Закажите оценку Вашего автомобиля в TradeIn:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ runSnippet('Form', {
              formid: 'FormTradeIn',
              path: '/templates/rofl/partials/forms/tradeIn/',
              extension: 'twig'
              }) | raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="trade-in-popup" class="popup-fb popup_trade-in" style="display: none;">
  <div class="popup__header popup__header_trade-in">
    <div>
      <div class="popup__heading">Получите лучшее предложение по&nbsp;Trade&nbsp;In</div>
      <div class="popup__subheading">Оценим ваш автомобиль за 10 минут</div>
    </div>
    <div>
      <div class="popup__descr">Выгода до</div>
      <div class="popup__nums">{% if baseSettings.vigoda_trade %}
                        {{baseSettings.vigoda_trade}}
                    {% else %}
                      150 000 рублей
                                          {% endif %}

                      </div>
    </div>
    <div class="popup__auto">
      <img src="/templates/autosalon/images/tradein-popup-car.png" alt="">
    </div>
    <img class="popup__header-pic" src="/templates/autosalon/images/money-popup.png" alt="">
  </div>
  <div class="popup__content">
    <div role="form" class="wpcf7" id="" lang="ru-RU" dir="ltr">
      {{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/autosalon/partials/forms/feedback_popup/',
      extension: 'twig'
      }) | raw }}
    </div>
  </div>
</div>
{# <div class="sticky">
  <div class="sticky__close"></div>
  <a href="#trade-in-popup" data-fancybox="" class="sticky__plate sticky__plate_tradin">
    <img src="/templates/autosalon//images/sticky-car.png" alt="">
    <div class="sticky__inner">
      <div class="sticky__circle"></div>
      <div class="sticky__caption">Пора обновляться!</div>
      <div class="sticky__descr">Максимальная выгода от Trade-In</div>
      <div class="button button_red button_sm"><span>{% if baseSettings.vigoda_trade %}
                        {{baseSettings.vigoda_trade}}
                    {% else %}
                      150 000 рублей
                    {% endif %}</span></div>
    </div>
  </a>
</div> #}
 
<div id="credit-popup-plate" class="popup-fb fancybox-content" style="display: none;">
  <div class="popup__header">
    <div>
      <div class="popup__heading">Получите расчет платежей по автокредиту</div>
      <div class="popup__subheading popup__car_name"></div>
    </div>
    <div>
      <div class="popup__descr">В кредит от</div>
      <div class="popup__nums popup__price">20 300 руб/мес</div>
    </div>
    <div class="popup__auto">
      <img class="popup__image" src="/templates/autosalon/images/1614546302_4-p-avto-na-belom-fone-4.png" alt="">
    </div>
    <img class="popup__header-pic" src="/templates/autosalon/images/percent.png" alt="">
  </div>
  <div class="popup__content">
    <div role="form" class="wpcf7" id="" lang="ru-RU" dir="ltr">
      {{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/autosalon/partials/forms/feedback_popup/',
      extension: 'twig'
      }) | raw }}
      {#<form data-id="credit" id="car-credit-modification-line-extended" action="#" method="post" class="wpcf7-form" novalidate="novalidate">
        <span class="wpcf7-form-row">
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33">
            <span class="wpcf7-form-control-wrap-label">Как вас зовут?</span>
            <input type="text" name="name" value="" class="wpcf7-form-control" placeholder="введите">
          </span>
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33">
            <span class="wpcf7-form-control-wrap-label">Телефон</span>
            <input type="tel" name="phone" value="" class="wpcf7-form-control error" placeholder="+7   (   )   -   -" aria-invalid="true">
          </span>
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33 wpcf7-form-control-wrap-button">
            <button type="submit" class="button button_red ">Отправить заявку</button>
          </span>
        </span>
        <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_checkbox" style="margin-top: 10px">
          <label class="checkbox changed">
            <input type="checkbox" id="" name="agreement" value="">
            <span class="checkbox__field">Даю согласие на обработку персональных данных</span>
          </label>
        </span>
      </form>#}
    </div>
  </div>
</div>
<div id="popup-trade_innew" class="popup-fb fancybox-content" style="display: none;">
      {{ runSnippet('Form', {
      formid: 'FormCallback',
      path: '/templates/chinaautosalon3/partials/forms/feedback_modal_bron2/',
      extension: 'twig'
      }) | raw }}
      {#<form data-id="credit" id="car-credit-modification-line-extended" action="#" method="post" class="wpcf7-form" novalidate="novalidate">
        <span class="wpcf7-form-row">
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33">
            <span class="wpcf7-form-control-wrap-label">Как вас зовут?</span>
            <input type="text" name="name" value="" class="wpcf7-form-control" placeholder="введите">
          </span>
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33">
            <span class="wpcf7-form-control-wrap-label">Телефон</span>
            <input type="tel" name="phone" value="" class="wpcf7-form-control error" placeholder="+7   (   )   -   -" aria-invalid="true">
          </span>
          <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap-33 wpcf7-form-control-wrap-button">
            <button type="submit" class="button button_red ">Отправить заявку</button>
          </span>
        </span>
        <span class="wpcf7-form-control-wrap wpcf7-form-control-wrap_checkbox" style="margin-top: 10px">
          <label class="checkbox changed">
            <input type="checkbox" id="" name="agreement" value="">
            <span class="checkbox__field">Даю согласие на обработку персональных данных</span>
          </label>
        </span>
      </form>#}
    
  
</div>
<div class="bottom-page-line py-4 d-md-none">
        <div class="container">
            <p><span>Ликвидация склада 2023 года.</span> Успей получить свою выгоду</p>
            <div class="image">
                <img src="/templates/rofl/img/image.png">
            </div>
            <a class="close" id="closeModal"></a>
        </div>
</div>

{# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> #}
<link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.css">

<div class="float-button" id="float-button">
  <a href="#" data-toggle="modal" data-target="#callphone"><i class="bi bi-telephone"></i></a><div class="waves-container">
    <div class="waves"></div>
  </div>
</div>

<script type="text/javascript">
window.addEventListener('load', function() {
// Проверяем, было ли уже показано окно в этой сессии
if (!localStorage.getItem('isPopupShown')) {
  // Запускаем таймер на 60 секунд
  setTimeout(function() {
    // Получаем элемент модального окна
    var modalElement = document.getElementById('callphone');
    // Открываем модальное окно
    $(modalElement).modal('show');
    // Сохраняем информацию о том, что окно уже было показано
    localStorage.setItem('isPopupShown', true);
  }, 60000);
}
});

let domElement = document.getElementById("float-button");

setInterval(function() {
  domElement.heartBeat(1500);
}, 5000);

</script>


{{ runSnippet('Form', {
                            formid: 'FormCallback',
                            path: '/templates/autodm/partials/forms/feedback_modal_call/',
                            extension: 'twig'
                        })  | raw }}

<style type="text/css">
.bottom-page-line {
  position: fixed;
    bottom: 0px;
    right: 0%;
    width: 100%;
  background: #DC6868;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  color: #fff;
  z-index: 3;
}
.bottom-page-line .container {
  position: relative;
}
.bottom-page-line p {
  font-size: 16px;
    line-height: 20px;
    padding-right: 55%;
    z-index: 3;
    position: relative;
}
.bottom-page-line p span {
  font-weight: 700;
}
.bottom-page-line .close {
  position: absolute;
    top: 0%;
    transform: translateY(-50%);
    right: 16px;
    width: 24px;
    height: 24px;
    background: url(/templates/rofl/img/close.svg);
    opacity: 1;
}
.bottom-page-line .image {
  position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    pointer-events: none;
    z-index: 2;
    max-width: 50%;
}
</style>
  <script>
  // document.addEventListener("DOMContentLoaded", function() {
  //   var closeBtn = document.querySelector(".sticky__close");
  //   closeBtn.addEventListener("click", function() {
  //     var sticky = document.querySelector(".sticky");
  //     sticky.style.display = "none";
  //   });
  // });

    const link = document.getElementById("float-button");

        // добавляем слушатель события 'click'
        link.addEventListener('click', (event) => {
        // предотвращаем переход по ссылке по умолчанию
        event.preventDefault();
        // вызываем функцию, которая показывает модальное окно
        $('#callphone').modal('show');
        });

        $(".bottom-page-line").click(function() {
    $.fancybox.open({
        src: '#trade-in-popup',
        type: 'inline'
    });
});
 
$(document).ready(function() {
        $("#closeModal").click(function() {
          event.stopPropagation();
          $(".bottom-page-line").hide();
            $(".float-button").css("bottom", "20px");
        });
    });


// document.addEventListener("DOMContentLoaded", function() {
//     var closeBtn2 = document.querySelector(".closeModal");
//     closeBtn2.addEventListener("click", function() {
//       var sticky2 = document.querySelector(".bottom-page-line");
//       sticky2.style.display = "none";
//       $(".float-button").css("bottom", "20px");
//     });
//   });

  </script>
  