{# <form>
    <div class="credit-block mb-5">
        <div class="container">
            <div class="content">
                <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
                <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
                {{ data['form.messages'] | raw }}
                <div class="top">
                    <h2 class="text-center mb-4">Выгоднее - в кредит! Скидка до 100 000 руб!</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="item mb-5">
                                <p class="mb-2">Сумма кредита</p>
                                <div class="price mb-4">
                                    <input type="text" id="amount3" readonly> <a href="#" class="edit"></a>
                                </div>
                                <div id="slider-range-max3"></div>
                            </div>
                            <div class="item mb-5">
                                <p class="mb-2">Первоначальный взнос</p>
                                <div class="price mb-4">
                                    <input type="text" id="amount" readonly> <a href="#" class="edit"></a>
                                </div>
                                <div id="slider-range-max"></div>
                                <div class="values flex mt-3">
                                    <div>0 ₽</div>
                                    <div>250 000 ₽</div>
                                    <div>500 000 ₽</div>
                                    <div>1 000 000 ₽></div>
                                </div>
                            </div>
                            <div class="item mb-5">
                                <p class="mb-2">Срок кредита</p>
                                <div class="price mb-4">
                                    <input type="text" id="amount2" readonly> <a href="#" class="edit"></a>
                                </div>
                                <div id="slider-range-max2"></div>
                                <div class="values flex mt-3">
                                    <div>1 год</div>
                                    <div>2 года</div>
                                    <div>3 года</div>
                                    <div>4 года</div>
                                    <div>5 лет</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="tbl1 w-100 mb-4">
                                <tr>
                                    <td>Сумма кредита:</td>
                                    <td>1 140 360 ₽</td>
                                </tr>
                                <tr>
                                    <td>Первоначальный взнос:</td>
                                    <td>250 000 ₽</td>
                                </tr>
                                <tr>
                                    <td>Срок кредита:</td>
                                    <td>12 месяцев</td>
                                </tr>
                            </table>
                            <table class="tbl2 w-100">
                                <tr>
                                    <td>Ежемесячный платеж:</td>
                                    <td>80 000 ₽/мес.</td>
                                </tr>
                                <tr>
                                    <td>Ваша выгода:</td>
                                    <td>Скидка - 100 000 ₽!</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <h2 class="mb-2">Оформить заявку</h2>
                    <div class="top-text mb-3">
                        Оставьте заявку чтобы зафиксировать Вашу скидку!
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <p class="mb-2">Ваше имя</p>
                            <input type="text" name="first_name" value="{{ data.first_name }}" placeholder="Например Иван" class="{{ data['first_name.classname'] }} w-100 px-3 mb-3">
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p class="mb-2">Ваш телефон</p>
                            <input type="text" value="{{ data.mobile_tel }}" name="mobile_tel" placeholder="+7(___) ___-____" class="phone-imask {{ data['mobile_tel.classname'] }} w-100 px-3 mb-3">
                        </div>
                        <div class="col-md-4">
                            <button class="w-100 mb-3" type="submit">Отправить заявку</button>
                        </div>
                        <div class="col-xl-4 offset-xl-8">
                            <div class="bottom-text">
                                Нажимая на кнопку "Отправить заявку" вы даете согласие на обработку <a href="/policy">персональных данных</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form> #}
<form>
    <div class="credit-block mb-5">
        <div class="container">
            <div class="content">
                <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
                <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
                {{ data['form.messages'] | raw }}
                <div class="top">
                    <h2 class="text-start mb-4">Автокредит от 4,9%</h2>
                    <h4 class="text-start mb-4">Кредитные условия</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="item mb-5">
                                <p class="mb-2"style="font-weight: 700">Выберите автомобиль</p>
                                <div class="edit_car col-12 d-flex justify-content-center align-items-center">
                                    <select class="w-100 px-3">
                                        <option>Выбрать...</option>
                                        {# {% for item in marks %} #}
                                        {# <option>{{ item.pagetitle }}</option> #}
                                        {# {% endfor %} #}
                                    </select>
                                </div>
                            </div>
                            <div class="item mb-5">
                                <p class="mb-2 item-cred-text">Срок кредита</p>
                                <div class="price mb-4">
                                    <input type="text" id="amount2" readonly> <a href="#" class="edit"></a>
                                </div>
                                <div id="slider-range-max2"></div>
                                <div class="values flex mt-3">
                                    <div>1 год</div>
                                    <div>2 года</div>
                                    <div>3 года</div>
                                    <div>4 года</div>
                                    <div>5 лет</div>
                                </div>
                            </div>
                            <div class="item mb-5">
                                <p class="mb-2 item-cred-text">Первоначальный взнос</p>
                                <div class="price mb-4">
                                    <input type="text" id="amount" readonly> <a href="#" class="edit"></a>
                                </div>
                                <div id="slider-range-max"></div>
                                <div class="values flex mt-3">
                                    <div>0 ₽</div>
                                    <div>250 000 ₽</div>
                                    <div>500 000 ₽</div>
                                    <div>1 000 000 ₽></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="calc_blank mt-3 p-3">
                                <table class="tbl3 w-100">
                                    <tr>
                                        <td>Ваша ставка:</td>
                                        <td>4.9 %</td>
                                    </tr>
                                    <tr>
                                        <td>Кредит:</td>
                                        <td>от 250 000 ₽ до 8 000 000 ₽</td>
                                    </tr>
                                    <tr>
                                        <td>Срок кредита:</td>
                                        <td>от 36 месяцев</td>
                                    </tr>
                                    <tr>
                                        <td>Оформление:</td>
                                        <td>30 минут</td>
                                    </tr>
                                    <tr>
                                        <td>Одобрение:</td>
                                        <td>По паспорту и правам</td>
                                    </tr>
                                    <tr>
                                        <td>Досрочное погашение:</td>
                                        <td>Без штрафов</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom">
                    <h2 class="mb-2">Оформить заявку</h2>
                    <div class="top-text mb-3">
                        Оставьте заявку чтобы зафиксировать Вашу скидку!
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <p class="mb-2">Ваше имя</p>
                            <input type="text" name="first_name" value="{{ data.first_name }}" placeholder="Например Иван" class="{{ data['first_name.classname'] }} w-100 px-3 mb-3">
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p class="mb-2">Ваш телефон</p>
                            <input type="text" value="{{ data.mobile_tel }}" name="mobile_tel" placeholder="+7(___) ___-____" class="phone-imask {{ data['mobile_tel.classname'] }} w-100 px-3 mb-3">
                        </div>
                        <div class="col-md-4">
                            <button class="w-100 mb-3" type="submit">Отправить заявку</button>
                        </div>
                        <div class="col-xl-4 offset-xl-8">
                            <div class="bottom-text">
                                Нажимая на кнопку "Отправить заявку" вы даете согласие на обработку <a href="/policy">персональных данных</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
