{# <div class="col-md-4 col-sm-6"><a href="{{data.url}}">
    <div class="item mb-4">
        <img src="{{data['tv.image']}}" class="w-100 mb-3">
        <a href="{{data.url}}" class="d-block pb-5">{{ data.title }}</a>
    </div></a>
</div> #}
<div class="col-md-4 col-sm-6">
    <a href="{{data.url}}">
        <div class="item mb-4">
            <img src="{{ runSnippet('phpthumb', {input: data['tv.image'], options:'h=105, w=255,zc=1 fltr[]=ric|15|15'}) }}" class="w-100 mb-3">
            <a href="{{data.url}}" class="d-block pb-5">{{ data.title }}</a>
        </div>
    </a>
</div>
