{# {{ runSnippet('map', {zoom:'15',grey:'1', coords:baseSettings.salon_coordinates, title:baseSettings.pagetitle,color:'#dc143c'
}) | raw}} #}
{% set map = runSnippet('map', {zoom:'15',grey:'1', class:'123', coords:baseSettings.salon_coordinates, width:'80', title:baseSettings.pagetitle,color:'#dc143c'
}) %}
<div class="bottom-map-block mb-5">
    <div class="container">
        <div class="content position-relative p-sm-5">
            <div class="map position-absolute w-100 h-100">
                {{ map | raw }}
            </div>
            <div class="contacts position-relative bg-light d-inline-block py-5 px-4">
                <div class="logo mb-4">
                    <a href="/"><img src="{{  runSnippet('phpthumb', {input: baseSettings["logo"], options: 'w=120,h=50,far=C,f=png,q=1'}) }}"></a>
                </div>
                <p class="mb-5">Дилерский центр автомобилей с пробегом</p>
                <div class="adress pl-4 py-1 mb-3">
                    {{baseSettings.salon_location}}
                </div>
                
                {{ runSnippet('formatPhone', {number: baseSettings["salon-phone"], class: 'phone pl-4 mb-4', format: '+7 (xxx) xxx-xx-xx', link: '1'}) | raw}} 
                <button data-toggle="modal" data-target="#popup"  class="btn btn-danger w-100">Заказать звонок</button>
            </div>
        </div>
    </div>
</div>
