{# <script src="https://unpkg.com/imask"></script>
<script type="text/javascript">
var phoneMask = IMask(
  document.getElementById('formPhone'), {
    mask: '+{7}(000)000-00-00'
  });
</script> #}
<div class="modal fade" id="callphone" tabindex="-1" role="dialog" aria-labelledby="callphone" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content callphone-form">
      <div class="modal-header">
        <h5 class="modal-title" id="callphone">Заказать звонок</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
            <form class="form">
                <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
                <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
                {{ data['form.messages'] | raw }}
                <div class="mb-3">
                    <input type="text" class="inp1 form-control {{ data['first_name.classname'] }}" placeholder="Ваше имя" id="formName" name="first_name" value="{{ data.first_name }}">
                </div>
                <div class="mb-3">
                    <input type="tel" class="inp2 form-control phone-imask {{ data['mobile_tel.classname'] }} " type="tel" name="mobile_tel" id="formPhone" placeholder="+7 (___) ___-__-__" value="{{ data.mobile_tel }}">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" checked id="check_nationality" value="1" name="check_nationality" required>
                    <label class="form-check-label small" for="check_nationality">
                        Являюсь гражданином РФ
                    </label>
                </div>
                <div style="justify-content: center;align-items: center;display: flex;">
                    <button class="btn btn-primary text-white text-nowrap">Оставить заявку</button>
                </div>
            </form>
        </div>

    </div>
  </div>
</div>
<script type="text/javascript">                        $('.phone-mask, input[type="tel"], input[name="phone"]').mask('+7 (999) 999-9999');

</script>

<style>
    .modal-body .form button {
        color: #fff;
        width: 255px;
        height: 50px;
        background: #3051FF;
        border-radius: 100px;
        font-size: 16px;
    }
    .modal-body .form input[type='text'] {
        height: 70px;
        border-radius: 12px;
        padding: 0 20px 0 64px;
        font-weight: 500;
    }
    .modal-body .form input[type='tel'] {
        height: 70px;
        border-radius: 12px;
        padding: 0 20px 0 64px;
        font-weight: 500;
    }
    .modal-body .form input[type='text'].inp1 {
        background: #ffffff url('/templates/autodm/img/inp1.svg') no-repeat 16px 50%;
    }
    .modal-body .form input[type='tel'].inp2 {
        background: #ffffff url('/templates/autodm/img/inp2.svg') no-repeat 16px 50%;
    }
</style>
