{% extends 'app.twig' %}
{% block MAIN %}
    {% set catalog_number = runSnippet('DocInfo', {docid: modx.config['site_start'] , field: 'catalog_number' }) %}

{#% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
display: 3,
parents: catalog_number,
depth: 2,
_filters: 'AND(tv:car-price:against:~car-price~)',
filters: 'AND(tv:model:=:' ~ resource.model ~ ')',
tvList:'car-price,run,engine_power,car-photos,car_photos,gear,year,image,body_type,model,car_color,engine_volume,fuel,drive,old-car-price',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcar2',
})
%}
{% set cardphoto = runSnippet('morephoto', {
images: resource["car_photos"],
image: resource.car-photos,
phpthumb: 'w=570,h=0',
ownerTPL: '[+wrap+]',
display: 1
})
%#}
{% set cardphoto = runSnippet('morephoto', {
images: resource["car_photos"],
image: resource.car-photos,
phpthumb: 'w=570,h=0',
ownerTPL: '[+wrap+]',
display: 1
})
%}
{#{{ runSnippet('carday', {carprice: resource["car-price"] }) | raw}} #}
{% set oldprice = runSnippet('helpers', {caroldprice: resource['car-price'],
action:'caroldprice'}) %}
{% set month = runSnippet('helpers', {carmonth: resource['car-price'],
action:'carmonth'}) %}
{% set vigoda = oldprice - resource['car-price'] %}
{% set gifts = runSnippet('DocLister', {
display: 3,
parents: 24,
depth: 0,
tvList:'image,color',
tpl:'@T_CODE: <div class="gift__item">
    <div style="background: linear-gradient(to bottom, {{ data[\'tv.color\'] }} 0px, {{ data[\'tv.color\'] }} 123px, #ffffff 123px, #ffffff 100%)" class="gift-item gift-item--transit">
        <div class="gift-item__text-wrap">
            <div class="gift-item__text">{{ data.title }}</div>
        </div>
        <div class="gift-item__photo-wrap">
            <img style="max-width:130px" src="{{ runSnippet(\'phpthumb\', {input: data[\'tv.image\'], options:\'w=130,h=130,zc=1\'}) }}" alt="{{ data.title }}" class="gift-item__photo">
        </div>
    </div>
</div>'
})%}
{% include('partials/crumbs.twig') %}
{% set complectation = runSnippet('multiTV', {tvName: 'equipment', docid: 'id', display:'all'}) %}
{% set car_photos = resource.car_photos | json %}
{% set car_photos = car_photos.fieldValue %}
{#<main class="main container">#}
{#    <div class="item-page pb-5">#}
{#        <div class="back-link text-center mb-3">#}
{#            <a href="#" class="d-inline-block pl-4">Назад к каталогу</a>#}
{#        </div>#}
{#        <h1 class="h1">{{resource.pagetitle}}, {{resource.year}} {{resource.modification}} </h1>#}
{#        <div class="top-text mb-3">#}
{#            {{resource.vin}}#}
{#        </div>#}
{#        <div class="row">#}
{#            <div class="col-lg-8">#}
{#                <div class="photos mb-4">#}
{#                    <div class="slider-for">#}
{#                        {% if car_photos and count(car_photos)>0 %}#}
{#                        {% for image in car_photos %}#}
{#                        <div class="photo"><img src="{{image.image}}"></div>#}
{#                        {% endfor %}#}
{#                        {% else %}#}
{#                        <div class="photo"><img src="{{image.image}}"></div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div class="slider-nav">#}
{#                        {% if car_photos and count(car_photos)>0 %}#}
{#                        {% for image in car_photos %}#}
{#                        <div class="photo"><img src="{{image.image}}"></div>#}
{#                        {% endfor %}#}
{#                        {% else %}#}
{#                        <div class="photo"><img src="{{image.image}}"></div>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-4">#}
{#                <div class="info mb-4 pt-lg-3">#}
{#                    <div class="price mb-3">#}
{#                        {{ (resource['car-price'])|number_format(0, '.', ' ') }} ₽#}
{#                    </div>#}
{#                    <div class="special mb-1">#}
{#                        Специальное предложение#}
{#                    </div>#}
{#                    <div class="nal mb-4 py-1 px-4 d-inline-block">#}
{#                        В наличии сегодня#}
{#                    </div>#}
{#                    <div class="buttons pb-3">#}
{#                        <button data-fancybox data-src="#popup2" class="w-100 mb-3">Забронировать</button>#}
{#                        <button data-fancybox data-src="#popup3" class="w-100 mb-3">Рассчитать кредит</button>#}
{#                    </div>#}
{#                    <table class="w-100">#}
{#                        <tr>#}
{#                            <td>Двигатель</td>#}
{#                            <td>{{resource.fuel#}
{#                                }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Мощность</td>#}
{#                            <td>{{resource.engine_power#}
{#                                }} л.с.</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>КПП</td>#}
{#                            <td>{{resource.gear#}
{#                                }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Привод</td>#}
{#                            <td>{{resource.drive#}
{#                                }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Пробег</td>#}
{#                            <td>{{resource.run#}
{#                                }} км</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Цвет</td>#}
{#                            <td>{{resource.car_color}}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>ПТС</td>#}
{#                            <td>{{resource.pts}}</td>#}
{#                        </tr>#}
{#                    </table>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-lg-7">#}
{#                <div class="info2">#}
{#                    <div class="name mb-3">#}
{#                        Характеристики#}
{#                    </div>#}
{#                    <table class="w-100 mb-4">#}
{#                        <tr>#}
{#                            <td>Год выпуска</td>#}
{#                            <td>{{resource.year#}
{#                                }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Мощность двигателя</td>#}
{#                            <td>{{resource.engine_power#}
{#                                }} л.с.</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Коробка передач</td>#}
{#                            <td>{{resource.gear#}
{#                                }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Поколение</td>#}
{#                            <td>{{resource.modification#}
{#                                }}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Владельцев</td>#}
{#                            <td>{% if resource.owners %}#}
{#                                {{resource.owners}}#}
{#                                {% else %}#}
{#                                Один#}
{#                                {% endif %}</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Тип кузова</td>#}
{#                            <td>#}
{#                                {{resource.body_type}}#}
{#                            </td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Модификация</td>#}
{#                            <td>{{resource.engine_volume#}
{#                                }} {{resource.gear#}
{#                                }} ({{resource.engine_power#}
{#                                }} л.с.)</td>#}
{#                        </tr>#}
{#                        <tr>#}
{#                            <td>Цвет</td>#}
{#                            <td>{{resource.car_color}}</td>#}
{#                        </tr>#}
{#                    </table>#}
{#                </div>#}
{#                                <div class="info3">#}

{#                <div class="block mb-4 p-3 position-relative">#}
{#                    <img src="/templates/autostar2/img/item-icon1.svg" class="icon position-absolute">#}
{#                    <div class="name mb-3">#}
{#                        Отчет о состоянии автомобиля#}
{#                    </div>#}
{#                    <ul class="pb-3">#}
{#                        <li class="mb-2">Проверен на наличие ДТП</li>#}
{#                        <li class="mb-2">Нет юридических ограничений</li>#}
{#                    </ul>#}
{#                    <button data-fancybox data-src="#popup1" class="w-100">Получить полный отчет</button>#}
{#                </div></div>#}
{#            </div>#}
{#            <div class="col-lg-5">#}
{#                <div class="info3">#}
{#                    <div class="block mb-4 p-3 position-relative">#}
{#                        <img src="/templates/autostar2/img/item-icon2.svg" class="icon position-absolute">#}
{#                        <div class="name mb-3">#}
{#                            Выгода при покупке в кредит#}
{#                        </div>#}
{#                        <div class="discount mb-4">#}
{#                            До 20%#}
{#                        </div>#}
{#                        <button data-fancybox data-src="#popup3" class="w-100">Рассчитать кредит</button>#}
{#                    </div>#}
{#                    <div class="buttons pb-3">#}
{#                        <button data-fancybox data-src="#popup2" class="w-100 mb-3">Забронировать</button>#}
{#                        <button data-fancybox data-src="#popup3" class="w-100 mb-3">Рассчитать кредит</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <div class="index-catalog-block pb-4">#}
{#        <div class="block-name mb-4">#}
{#            Похожие автомобили#}
{#        </div>#}
{#        <div class="row">#}
{#            {{DLCatalog | raw}}#}
{#        </div>#}
{#    </div>#}
{#</main>#}
<main class="main container">
        <div class="item-page2 pb-5">
{#            <div class="back-link text-center mb-3">#}
{#                <a href="#" class="d-inline-block pl-4">Назад к каталогу</a>#}
{#            </div>#}
            <h1 class="h1">{{resource.pagetitle}}, {{resource.year}} {#{resource.modification}#} </h1>
            <div class="top-text mb-3">
                {{resource.vin}}
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="slider-for mb-2">
                        {% if car_photos and count(car_photos)>0 %}
                            {% for image in car_photos %}
                                <div class="photo"><img src="{{image.image}}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="photo"><img src="{{image.image}}"></div>
                        {% endif %}
                    </div>
                    <div class="slider-nav mb-4">
                        {% if car_photos and count(car_photos)>0 %}
                            {% for image in car_photos %}
                                <div class="item"><img src="{{image.image}}"></div>
                            {% endfor %}
                        {% else %}
                            <div class="item"><img src="{{image.image}}"></div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="block-name mb-3">
                        <h1>{{resource.pagetitle}}  {{resource.year}}</h1>
                        <div class="status position-absolute">
                            <span class="d-inline-block py-1 px-2 color1">В наличии</span>
                        </div>
                    </div>
                    <div class="special mb-3 pl-4">
                        Специальное предложение
                    </div>
                    <div class="data row pb-2">
                        <div class="col-4">
                            <div class="item mb-3">
                                Пробег:
                                <span class="d-block mt-2">{{resource.run}} км</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="item mb-3">
                                КПП:
                                <span class="d-block mt-2">{{resource.gear}}</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="item mb-3">
                                Двигатель:
                                <span class="d-block mt-2">{{resource.engine_power}} л.с.</span>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="item mb-3">
                                Привод:
                                <span class="d-block mt-2">{{resource.drive}}</span>
                            </div>
                        </div>
                        {#<div class="col-4">
                            <div class="item mb-3">
                                Цвет:
                                <span class="d-block mt-2">{{resource.car_color}}</span>
                            </div>
                        </div>#}
                        <div class="col-4">
                            <div class="item mb-3">
                                Владельцев:
                                <span class="d-block mt-2">
                                    {% if resource.owners %}
                                     {{resource.owners}}
                                    {% else %}
                                        Один
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="price mb-3">
                        <p class="mb-2">Цена со скидкой:</p>
                        <div class="new mb-2">
                            {{ (resource['car-price'])|number_format(0, '.', ' ') }} ₽<span class="old ml-2">{{oldprice|number_format(0, '.', ' ') }} ₽</span>
                        </div>
                        <p class="mb-2">Ежемесячный платеж в кредит:</p>
                        <div class="new mb-2 red">
                            28 800 ₽ <span class="percent py-1 px-2 d-inline-block ml-2">Ставка{% if baseSettings.credit_rate is empty %} 4.9{% else %}
                                    {{ baseSettings.credit_rate }}
                                {% endif %}%</span>
                        </div>
                        Без первого взноса
                    </div>
                    <ul class="pb-2">
                        <li class="mb-2"><span>ПТС:</span> {{resource.pts}}</li>
                        <li class="mb-2"><span>Гарантия</span> юридической чистоты</li>
                    </ul>
                    <button class="b1 w-100 mb-2" data-fancybox data-src="#popup1"><span class="d-inline-block"></span> Проверить по автотеке</button>
                    <button class="b2 w-100 mb-2" data-fancybox data-src="#popup3">Купить в кредит</button>
                    <button class="b3 w-100 mb-2" data-fancybox data-src="#popup1">Подробнее</button>
                    <button class="b4 w-100" data-fancybox data-src="#popup3"><span class="d-inline-block"></span> Обменять на мой авто</button>
                </div>
            </div>
        </div>
        <div class="calc-block pb-5">
            <div class="block-name mb-3">
                Выгода при покупке в кредит!
            </div>
            <div class="top-text mb-4">
                Ставка от {% if baseSettings.credit_rate is empty %}
                4.9
                {% else %}
                    {{ baseSettings.credit_rate }}
                {% endif %}% годовых!
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="calc">
                        <div class="item mb-4">
                            <div class="name mb-3">
                                Сумма кредита
                            </div>
                            <div class="field mb-4">
                                <input type="text" id="amount" readonly>
                                <a class="edit"></a>
                            </div>
                            <div id="slider-range-max"></div>
                            <div class="values pt-3 flex">
                                <div>250 000 ₽</div>
                                <div>10 000 000 ₽</div>
                            </div>
                        </div>
                        <div class="item mb-4">
                            <div class="name mb-3">
                                Первоначальный взнос
                            </div>
                            <div class="field mb-4">
                                <input type="text" id="amount2" readonly>
                                <a class="edit"></a>
                            </div>
                            <div id="slider-range-max2"></div>
                        </div>
                        <div class="item mb-4">
                            <div class="name mb-3">
                                Срок кредита
                            </div>
                            <div class="field mb-4">
                                <input type="text" id="amount3" readonly>
                                <a class="edit"></a>
                            </div>
                            <div id="slider-range-max3"></div>
                            <div class="values pt-3 flex">
                                <div>12 месяцев</div>
                                <div>88 месяцев</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="result mb-4">
                        <div class="name mb-4">
                            Наше предложение
                        </div>
                        <table class="w-100 mb-4">
                            <tr>
                                <td>Кредитная ставка:</td>
                                <td>{% if baseSettings.credit_rate is empty %} 4.9{% else %}
                                    {{ baseSettings.credit_rate }}
                                {% endif %}%</td>
                            </tr>
                            <tr>
                                <td>Программа:</td>
                                <td>Первый автомобиль</td>
                            </tr>
                            <tr>
                                <td>Первоначальный взнос:</td>
                                <td id="amount-2">100 000 ₽</td>
                            </tr>
                            <tr>
                                <td>Сумма кредита:</td>
                                <td id="amount-1">300 000 ₽</td>
                            </tr>
                            <tr>
                                <td>Срок:</td>
                                <td id="amount-3">14 месяцев</td>
                            </tr>
                        </table>
                        <div class="finish flex">
                            <div>Ежемесячный платеж:</div>
                            <div id="sum-amount">2 818 ₽/мес.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="index-filter-block2 mb-5 p-sm-5 p-3">
            <div class="name text-center mb-5">
                Выгодные условия на покупку вашего автомобиля
            </div>
            {{ runSnippet('Form', {
                formid: 'FormCallback',
                path: '/templates/autostar2/partials/forms/podbor/',
                extension: 'twig'
            }) | raw }}
        </div>
        {#<div class="index-catalog-block2 pb-4">
            <h2 class="mb-4">Автомобили той же марки</h2>
            <div class="row">
                {{DLCatalog | raw}}
            </div>
        </div>#}
    {% include('partials/contacts.twig') %}

    </main>

{% endblock %}
{% block SCRIPTS %}
    <script>
        $(function() {
            $("#slider-range-max").slider({
                range: "max",
                min: 250000,
                max: 10000000,
                value: 300000,
                slide: function(event, ui) {
                    $("#amount").val(ui.value.toLocaleString() + " ₽");
                    $("#amount-1").text(ui.value.toLocaleString() + " ₽");

                    // Добавляем расчет ежемесячного платежа
                    const loanAmount = ui.value;
                    const loanTerm = parseInt($("#slider-range-max3").slider("value"));
                    const interestRate = 4.9;

                    const monthlyPayment = calculateMonthlyPayment(loanAmount, loanTerm, interestRate);
                    $("#sum-amount").text(formatNumberWithCommas(monthlyPayment) + " ₽/мес.");
                }
            });

            $("#amount").val($("#slider-range-max").slider("value").toLocaleString() + " ₽");
            $("#amount-1").text($("#slider-range-max").slider("value").toLocaleString() + " ₽");
        });

        $(function() {
            $("#slider-range-max2").slider({
                range: "max",
                min: 100000,
                max: 1000000,
                value: 500000,
                slide: function(event, ui) {
                    $("#amount2").val(ui.value.toLocaleString() + " ₽");
                    $("#amount-2").text(ui.value.toLocaleString() + " ₽");

                    // Добавляем расчет ежемесячного платежа
                    const loanAmount = ui.value;
                    const loanTerm = parseInt($("#slider-range-max3").slider("value"));
                    const interestRate = 4.9;

                    const monthlyPayment = calculateMonthlyPayment(loanAmount, loanTerm, interestRate);
                    $("#sum-amount").text(formatNumberWithCommas(monthlyPayment) + " ₽/мес.");
                }
            });
            $("#amount2").val($("#slider-range-max2").slider("value").toLocaleString() + " ₽");
            $("#amount-2").text($("#slider-range-max2").slider("value").toLocaleString() + " ₽");
        });

        $(function() {
            $("#slider-range-max3").slider({
                range: "max",
                min: 12,
                max: 88,
                value: 24,
                slide: function(event, ui) {
                    $("#amount3").val(ui.value + " месяцев");
                    $("#amount-3").text(ui.value + " месяцев");

                    // Добавляем расчет ежемесячного платежа
                    const loanAmount = parseInt($("#slider-range-max2").slider("value"));
                    const loanTerm = ui.value;
                    const interestRate = 4.9;

                    const monthlyPayment = calculateMonthlyPayment(loanAmount, loanTerm, interestRate);
                    $("#sum-amount").text(formatNumberWithCommas(monthlyPayment) + " ₽/мес.");
                }
            });

            $("#amount3").val($("#slider-range-max3").slider("value") + " месяцев");
            $("#amount-3").text($("#slider-range-max3").slider("value") + " месяцев");
        });

        function calculateMonthlyPayment(loanAmount, loanTerm, interestRate) {
            const monthlyInterestRate = interestRate / 100 / 12; // Процентная ставка в месяц
            const numPayments = loanTerm * 12; // Общее количество платежей

            const monthlyPayment = (monthlyInterestRate * loanAmount) / (1 - Math.pow(1 + monthlyInterestRate, -numPayments));

            return monthlyPayment.toFixed(2); // Округляем до двух знаков после запятой
        }

        function formatNumberWithCommas(number) {
            return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
        }

    </script>
{% endblock %}
