{% extends 'app.twig' %}
{% block MAIN %}
	{% set catalog_number = runSnippet('DocInfo', {docid: modx.config['site_start'] , field: 'catalog_number' }) %}

{#% cache 'main' ~ resource.id %#}
{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
controller: 'catalog_filters',
display: 3,
parents: 27,
depth: 5,
orderBy: 'menuindex',
order: 'RAND()',
tvSortType: 'SIGNED',
tvList:'car-price,old-car-price,car_photos,run,engine_power,gear,year, image',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard2',
noneTPL:'@CODE: <div class="container">
	<div class="row">
		<div class="col text-center">
			<h2 class="display-5 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
		</div>
	</div>
</div>',
paginate:'pages',
TplNextP:'',
TplPrevP:'',
TplPage:'@CODE:<li class="page-item"><a class="page-link" href="[+link+]">[+num+]</a></li>',
TplCurrentPage:'@CODE: <li class="page-item active" aria-current="page"><span class="page-link">[+num+]</span></li>',
TplWrapPaginate:'@CODE:<ul class="pagination">[+wrap+]</ul>',
    filter: 'filters',
    filterRangeSeparator: ':',
    filterValuesSeparator: '|',
    filterDelimiter: '||',
    __filterPriceId: 14,
    __filterList: '18:dropdown;20:dropdown;42:dropdown;43:dropdown;9:dropdown;11:dropdown;10:dropdown;19:range;15:range;16:range;',
    __filterList: '18,20,42,19,9,11,10,43,15,16,',
    filterList: '20,19, 42, 43',
    filterTpl: '@T_FILE:partials/filters/tpl',
    filterOwnerRange: '@T_FILE:partials/filters/ownerRange',
    filterTplRange: '@T_FILE:partials/filters/tplRange',
    filterOwnerCheckbox: '@T_FILE:partials/filters/ownerCheckbox',
    filterTplCheckbox: '@T_FILE:partials/filters/tplCheckbox',
    tvSortType: 'UNSIGNED',
    api: 0
})
%}
{% set DLCatalog2 = runSnippet('DocLister', {
    id: 'catalog2',
    display: 3,
    parents: catalog_number,
    depth: 5,
    orderBy: 'menuindex',
    order: 'RAND()',
    tvSortType: 'SIGNED',
    tvList:'car-price,old-car-price,car_photos,run,engine_power,gear,year, image',
    ownerTPL: '@T_FILE:partials/wrap',
    tpl:'@T_FILE:partials/catalogcard2',
    noneTPL:'@CODE: <div class="container">
<div class="row">
    <div class="col text-center">
        <h2 class="display-5 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
    </div>
</div>
</div>',
    paginate:'pages',
    TplNextP:'',
    TplPrevP:'',
    TplPage:'@CODE:<li class="page-item"><a class="page-link" href="[+link+]">[+num+]</a></li>',
    TplCurrentPage:'@CODE: <li class="page-item active" aria-current="page"><span class="page-link">[+num+]</span></li>',
    TplWrapPaginate:'@CODE:<ul class="pagination">[+wrap+]</ul>',
    tvSortType: 'UNSIGNED',
    api: 0
})
%}
{% set DLCatalog3 = runSnippet('DocLister', {
    id: 'catalog3',
    display: 6,
    parents: catalog_number,
    depth: 5,
    orderBy: 'menuindex',
    order: 'RAND()',
    tvSortType: 'SIGNED',
    tvList:'car-price,old-car-price,car_photos,run,engine_power,gear,year, image',
    ownerTPL: '@T_FILE:partials/wrap',
    tpl:'@T_FILE:partials/catalogcard2',
    noneTPL:'@CODE: <div class="container">
<div class="row">
<div class="col text-center">
    <h2 class="display-5 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
</div>
</div>
</div>',
    paginate:'pages',
    TplNextP:'',
    TplPrevP:'',
    TplPage:'@CODE:<li class="page-item"><a class="page-link" href="[+link+]">[+num+]</a></li>',
    TplCurrentPage:'@CODE: <li class="page-item active" aria-current="page"><span class="page-link">[+num+]</span></li>',
    TplWrapPaginate:'@CODE:<ul class="pagination">[+wrap+]</ul>',
    tvSortType: 'UNSIGNED',
    api: 0
})
%}
{% set banner = runSnippet('multiTV', {tvName: 's-vigoda-pulkovo1', docid: 'id', display:'all',
rowTpl:'@CODE: <div class="index-first-block" style="background: url([+image+]) center/cover;">
	<div class="container-fluid">
		<h1>[+title+]</h1>
		[+catalog.filters+]
		</form>
	</div>
</div>'}) %}
{{ plh['catalog.filters'] | raw }}

{#{banner |raw}#}
{% include '/partials/brands.twig' %}
<div class="index-filter-block2 mb-5 p-sm-5 p-">
	<div class="name text-center mb-5">
		Выгодные условия на покупку вашего автомобиля
	</div>
	{{ runSnippet('Form', {
              formid: 'FormCallback',
              path: '/templates/autostar2/partials/forms/podbor/',
              extension: 'twig'
              }) | raw }}

</div>
<div class="index-prices-block pb-5">
	<div class="name mb-5">
		Продажа автомобилей с пробегом
	</div>
	<div class="row">
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="item mb-4 pl-5">
				<a href="?f[19]=0:500000">до 500 000 ₽</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="item mb-4 pl-5">
				<a href="?f[19]=500000:1000000">до 1 000 000 ₽</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="item mb-4 pl-5">
				<a href="?f[19]=1000000:2000000">до 2 000 000 ₽</a>
			</div>
		</div>
		<div class="col-lg-3 col-md-4 col-sm-6">
			<div class="item mb-4 pl-5">
				<a href="?f[19]=2000000:10000000">больше 2 000 000 ₽</a>
			</div>
		</div>
	</div>
</div>
{#<div class="index-catalog-block pb-4" >
    <div class="row">
{#        <div class="col-lg-3">#}
{#            <nav>#}
{#                <div class="name mb-5">#}
{#                    Подборки:#}
{#                </div>#}
{#                <ul>#}
{#                    <li class="mb-5"><a href="?f[19]=0:500000">Седан</a></li>#}
{#                    <li class="mb-5"><a href="?f[19]=500000:1000000">Хетчбэк</a></li>#}
{#                    <li class="mb-5"><a href="?f[19]=1000000:2000000">Универсал</a></li>#}
{#                    <li class="mb-5"><a href="?f[19]=2000000:10000000">Внедорожник</a></li>#}
{#                    <li class="mb-5"><a href="?f[19]=0:500000">Минивэн</a></li>#}
{#                    <li class="mb-5"><a href="?f[19]=500000:1000000">Фургон</a></li>#}
{#                </ul>#}
{#            </nav>#}
{#        </div>
        <div class="col-lg-9 catalog-products" id="catalog">
            {{DLCatalog |raw}}
        </div>
    </div>
</div>#}
<div class="index-catalog-block2 pb-4" id="catalog">
    <h2 class="mb-4">Автомобили в наличии</h2>
    {{DLCatalog |raw}}
</div>
<div class="index-catalog-block2 pb-4" id="catalog2">
    <h2 class="mb-4">Последние поступления</h2>
    {{DLCatalog2 |raw}}
</div>
<div class="index-catalog-block2 pb-5 mb-5" id="catalog3">
    <h2 class="mb-4">Лучшее предложение</h2>
    {{DLCatalog3 |raw}}
    <div class="bottom-button text-center">
        <button onclick="window.location.href = '{{ makeUrl(27) }}';">Посмотреть все машины в наличии</button>
    </div>
</div>
<div class="credit-form-block mb-5 position-relative">
    <h2 class="mb-2">Заявка на автокредит</h2>
    <p class="mb-3">Оставьте заявку и мы перезвоним Вам!</p>
    <form class="row">
        <div class="col-sm-6">
            <input type="text" class="w-100 mb-3 px-3" placeholder="Ваше имя">
        </div>
        <div class="col-sm-6">
            <input type="text" class="w-100 mb-3 px-3" placeholder="+7 (___) ___-__-__">
        </div>
        <div class="col-sm-6">
            <button class="w-100" data-fancybox data-src="#popup3" >Заказать подбор</button>
        </div>
        <div class="col-sm-6">
            <div class="bottom-text pt-sm-2 pt-3">
                Нажимая на кнопку вы даете согласие на обработку <a href="#">персональных данных</a>
            </div>
        </div>
    </form>
    <div class="image position-absolute">
        <img src="/templates/autostar2/img/woman.png">
    </div>
</div>
<div class="partners-block mb-5">
    <h2 class="mb-4">Банки-партнёры</h2>
    <div class="list">
        <div class="item"><img src="/templates/autostar2/img/partner.png"></div>
        <div class="item"><img src="/templates/autostar2/img/partner.png"></div>
        <div class="item"><img src="/templates/autostar2/img/partner.png"></div>
        <div class="item"><img src="/templates/autostar2/img/partner.png"></div>
        <div class="item"><img src="/templates/autostar2/img/partner.png"></div>
        <div class="item"><img src="/templates/autostar2/img/partner.png"></div>
        <div class="item"><img src="/templates/autostar2/img/partner.png"></div>
    </div>
</div>
{% include '/partials/actions.twig' %}
{% include('partials/contacts.twig') %}
{% include '/partials/advantages.twig' %}
{% block SCRIPTS %}
    <script type="text/javascript" src="../js/slick.min.js"></script>
    <script src="../js/common.js"></script>
{% endblock %}

{% endblock %}
