{# <script src="https://unpkg.com/imask"></script>
<script type="text/javascript">
var phoneMask = IMask(
  document.getElementById('formPhone'), {
    mask: '+{7}(000)000-00-00'
  });</script> #} 

<form class="form">
    <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
    {{ data['form.messages'] | raw }}

    <div class="modal-content border-0">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="feedbackLabel">Заказать звонок</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
</button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <input class="form-control {{ data['first_name.classname'] }}" type="text" placeholder="Ваше имя" id="first_name" name="first_name" value="{{ data.first_name }}" />
                </div>
                <div class="mb-3">
                    <input class="form-control phone-imask phone-mask {{ data['mobile_tel.classname'] }}" type="tel" name="mobile_tel" id="mobile_tel" placeholder="+7 (___) ___-__-__" value="{{ data.mobile_tel }}" />
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="1" id="check_nationality" name="check_nationality" checked/>
                    <label class="form-check-label small" for="check_nationality">
                        Являюсь гражданином РФ
                    </label>
                </div>

                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" checked id="checkFormFeedback" value="1" {{ data['c.agree.1'] }} name="agree"/>
                    <label class="form-check-label small" for="checkFormFeedback">
                        Даю согласие на обработку персональных данных
                    </label>
                </div>
                <button class="btn btn-primary text-white text-nowrap">Оставить заявку</button>
            </div>
    </div>
</form>