    <option type="radio" name="f[{{ data['id'] }}][]" id="{{ data['hash'] }}" data-input-type="checkbox" data-name="{{ data['id'] }}" class="form-check-input" {{ data['checked'] }} value="{{ data['key'] }}">{{ data['name'] }}</option>
