{#% set thumb = runSnippet('morephoto', {
images: data['tv.car_photos'],
phpthumb: 'w=250,h=168,zc=C',
tpl: '@CODE:[+image.thumb+]',
total: 1,
display: 1
}) %#}
{#{ data['tv.car_photos'] }#}
{% set oldprice = runSnippet('helpers', {caroldprice: data['tv.car-price'],
action:'caroldprice'}) %}
{#<div class="col-xl-3 col-lg-4 col-md-6 h-auto">
    <div class="item">
        <a href="{{ data['url'] }}"><img src="{{ data['tv.image'] }}" class="image"></a>
        <div class="flex">
            <a href="{{ data['url'] }}" class="d-block name">{{ data['title'] }}</a>
            <div class="nal"><span></span> В наличии</div>
        </div>
        <p>
            С пробегом / {{ data['tv.year'] }} / {{ ( data['tv.run'] )|number_format(0, '.', ' ') }}км / {{ data['tv.car_color'] }} <br />
            {{ data['tv.engine_volume'] }} {{ data['tv.gear'] }} ({{ data['tv.engine_power'] }} л.с.) <br />
            {{ data['tv.equipment'] }}
        </p>
        <div class="flex">
            <div class="price">
                <span>{{ ( data['tv.car-price'] )|number_format(0, '.', ' ') }}</span> ₽
            </div>
            <div class="special">
                Специальное предложение
            </div>
        </div>
        <div class="buttons">
            <button onclick="location.href='{{ data['url'] }}';">Подробнее</button>
            <button class="btn" type="button" data-toggle="modal" data-target="#oneclick">Купить в 1 клик</button>
        </div>
    </div>
</div>#}

{# Получаем случайное изображения (ссылку) из поля "Фотографии" (car_photos) #}
{% set randomPhotoLink = runSnippet('helpers', {jsonPhotos: data['tv.car_photos'],
    action:'randomPhoto'})
%}
{% set month = runSnippet('helpers', {carmonth: data['tv.car-price'],
    action:'carmonth'}) %}
<div class="col-lg-4 col-md-4 col-sm-6">
    <div class="item">
        <a href="{{ data['url'] }}"><img src="{{ randomPhotoLink }}" class="w-100"></a>
        <div class="text p-3 position-relative">
            <div class="d-flex flex-row">
                <div class="name mb-1">
                    {{ data['title'] }} {#<span class="text-light bg-danger p-1 align-middle"></span>#}
                </div>
                <div class="car-year mb-1">
                    {{ data['tv.year'] }}
                </div>
            </div>
            <div class="age mb-1">
                Поколение: {{ data['tv.modification'] }}
            </div>
            <span class="special d-inline-block mb-2 py-1 px-2">Спецпредложение</span>
            <div class="about mb-2">
                {{ data['tv.body_type'] }}, {{ data['tv.gear'] }},  {{ data['tv.fuel'] }}, {{ data['tv.engine_power'] }} л. с.,{{ ( data['tv.run'] )|number_format(0, '.', ' ') }}км, {{ data['tv.equipment'] }}
                {{ data['tv.drive'] }}, {{ data['tv.car_color'] }}
            </div>
            <ul>
                <li class="position-relative pl-4 mb-2"><img src="/templates/rofl/img/item-icon1.svg">{{ data['tv.body_type'] }}</li>
                <li class="position-relative pl-4 mb-2"><img src="/templates/rofl/img/item-icon2.svg">{{ data['tv.gear'] }}</li>
                <li class="position-relative pl-4 mb-2"><img src="/templates/rofl/img/item-icon3.svg">{{ data['tv.fuel'] }}, {{ data['tv.engine_power'] }} л. с.</li>
                <li class="position-relative pl-4 mb-2"><img src="/templates/rofl/img/item-icon4.svg">{{ data['tv.drive'] }}</li>
                <li class="position-relative pl-4 mb-2"><img src="/templates/rofl/img/item-icon5.svg">{{ data['tv.car_color'] }}</li>
            </ul>
            <div class="book mb-2">
                <span class="bg-danger d-inline-block align-middle mr-2 mb-1"></span> В наличии
            </div>
            <div class="price mb-2">
                <div class="new">
                    {{ ( data['tv.car-price'] )|number_format(0, '.', ' ') }} ₽
                </div>
                <span class="old">
                    {{ oldprice|number_format(0, '.', ' ') }} ₽
                </span>
            </div>
            <div class="mb-1"><span style="font-size: 12px;">Ставка по кредиту</span> <span id="" class="mt-2 text-red" >от {% if baseSettings.credit_rate is empty %}
    4.9
{% else %}
    {{ baseSettings.credit_rate }}
{% endif %}%</span> </div>
            <div class="mb-3"><span style="font-size: 12px;">Ежемесячный платеж от</span> <span id="" class="mt-2 text-red">{{month|number_format(0, '.', ' ') }} ₽</span>
            </div>
            <button onclick="window.location.href='{{ data['url'] }}'" class="btn btn-danger w-100">Подробнее</button>
            <button  data-toggle="modal" data-target="#exampleModal" class="btn btn-black w-100 mt-3" >Купить в кредит от {% if baseSettings.credit_rate is empty %}
    4.9
{% else %}
    {{ baseSettings.credit_rate }}
{% endif %}%</button>
        </div>
    </div>
</div>
{{dump(baseSettings)}}