<div class="form-block2 mb-5">
<form>
    <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
			
			<div class="top-text mb-4 pb-2">
			Акция действует до <span id="dateend"> 31 мая</span>			</div>
			<div class="row">
                   {{ data['form.messages'] | raw }}
                <div class="col-md-3 col-sm-3">
					<input disabled class="w-100 mb-3 px-3 " id="day" value="123">
				</div>
				<div class="col-md-3 col-sm-3">
					<input disabled class="w-100 mb-3 px-3 " id="day" value="123">
				</div>
				<div class="col-md-3 col-sm-3">
					<input disabled class="w-100 mb-3 px-3 " id="day" value="123">
				</div>
				<div class="col-md-4 col-sm-6">
					<input type="text" placeholder="+7 (___) ___-__-__" name="mobile_tel" class="w-100 mb-3 px-3 {{ data['mobile_tel.classname'] }}" id="mobile_tel" value="{{ data.mobile_tel }}">
				</div>
				<div class="col-md-4 col-sm-6">
					<input type="text" placeholder="Имя" class="w-100 mb-3 px-3" id="first_name" value="{{ data.first_name }}">
				</div>
				<div class="col-md-4">
					<button class="w-100 mb-3">Купить в кредит</button>
				</div>
			</div>
			<div class="agree position-relative">
				<input type="checkbox" id="agree" class="position-absolute">
				<label for="agree" class="d-block pl-4">Я даю согласие на обработку персональных данных</label>
			</div>
            </form>

		</div>
