<input type="hidden" class="filter-range-slider" name="f[{{ data['id'] }}][]" id="{{ data['hash'] }}" data-input-type="range" data-id="{{ data['id'] }}" value="" data-min="{{ data['min'] }}" data-max="{{ data['max'] }}" data-from="{{ data['from'] }}" data-to="{{ data['to'] }}" data-step="{{ data['step'] }}" data-type="double"/>

{#<<label for="customRange3" class="form-label">Example range</label>
<input class="filter-range-slider" type="range" data-id="{{ data['id'] }}" class="form-range" min="{{ data['min'] }}" max="{{ data['max'] }}" data-from="{{ data['from'] }}" data-to="{{ data['to'] }}" data-step="{{ data['step'] }}" data-type="double" id="{{ data['hash'] }}">#}