<div class="col-auto col-sm-6 col-md-4 col-lg-3 col-xl-2 px-1 pb-1 row m-0">
    <label class="form-check mb-0">
        <input type="radio" name="f[{{ data['id'] }}][]" id="{{ data['hash'] }}" data-input-type="checkbox" data-name="{{ data['id'] }}" class="form-check-input" {{ data['checked'] }} value="{{ data['key'] }}">{{ data['name'] }}
    </label>
</div>