<!DOCTYPE html>
{% set site_start = modx.config['site_start'] %}
{% set cacheKey = md5(site_start ~ "autodm2") %}
{% set title = resource.longtitle | default(resource.pagetitle) | parser %}
{% set baseSettings = runSnippet('helpers', {action: 'getBaseSettings'}) %}

{% set meta = runSnippet("getMeta") %}

{# {% set favicon = runSnippet('phpthumb', {input: baseSettings['logo'], options:'w=16,h=16,f=png,far=C, zc=L'}) %} #}

{% set faviconSizes = [16, 32, 64, 128] %}

{% for size in faviconSizes %}
  {% set favicon = runSnippet('phpthumb', {input: baseSettings['favicon'], options:'w=' ~ size ~ ',h=' ~ size ~ ',f=png,far=C, zc=L'}) %}
  <link rel="icon" type="image/png" sizes="{{ size }}x{{ size }}" href="{{ favicon }}" />
{% endfor %}

<html lang="ru" prefix="og: http://ogp.me/ns#">

<head>
    <base href="{{ config.site_url }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ meta.title | parser }}</title>
    <meta name="description" content="{{ meta.description | parser }}">
    <meta name="keywords" content="{{ meta.keywords | parser }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="{{favicon}}" type="image/png">
    <meta name="color-theme" content="">
    <link rel="apple-touch-icon" sizes="60x60" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#5bbad5">
    <link rel="stylesheet" href="assets/site/bootstrap/css/bootstrap.min.css">
    {# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> #}
    <link rel="stylesheet" href="/templates/autodm/style.css?123213112112">
    <link rel="stylesheet" href="templates/autodm/color1.css">
    <link rel="stylesheet" href="/templates/autodm/slick.css">
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" /> #}
    <link href="assets/site/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/templates/autodm/css/filter.css">
    <link rel="stylesheet" href="/templates/autodm2/{{baseSettings.color_css}}">

    {{baseSettings.scripts_head | raw}}
    {% set isPageSpeed = runSnippet('helpers', {action:'checkPageSpeed'}) %}

    {% block HEAD %}{% endblock %}
</head>

<body>
    <div class="d-none" id="metrik-id">{{baseSettings.metrik_id}}</div>
            <div class="d-none" id="vk-id">{{baseSettings.vk_id}}</div>

{#{dump(test) }#}
        {% cache 'header' ~ cacheKey %}
            {% include('partials/header.twig') %}
        {% endcache %}

        {{baseSettings.scripts_body | raw}}
        <main class="main">
{% if baseSettings.site_id is not empty %}
  <input type="hidden" id="ct-site-id" value="{{baseSettings.site_id}}">
{% endif %}
            {% block MAIN %}{% endblock %}
            {% include('partials/scripts.twig') %}
        </main>
        {% cache 'footer' ~ cacheKey %}
            {% include('partials/footer.twig') %}
            {% include('partials/popup.twig') %}
        {% endcache %}





    {% block SCRIPTS %}{% endblock %}

   <div id="loader"></div>
</body>
{% set stats = runSnippet('helpers', {action:'stats'}) | json %}
<!-- Memory: {{ stats.phpMemory }}, MySQL: {{ stats.queryTime }}, {{ stats.queries }} request(s), PHP: {{ stats.phpTime }}, total: {{ stats.totalTime }}, document retrieved from {{ stats.source }}, ID: {{ resource.id }} -->
</html>
