<h3>Вопрос с сайта</h3>

<p>Имя: {{ data.name }}</p>
<p>Телефон: {{ data.phone}}</p>
<p>Марка: {{ brand }}</p>
<p>Запрашивает цену: {{ data.yourprice}}</p>
<p>Цена авто (карточка с которой отправлял): {{ data.yourprice}}</p>
<p>Документ: {{ data.docid}}</p>
<p>Комментарий: {{ data.comment}}</p>
