{% extends 'app.twig' %}
{% block MAIN %}
{% set car_photos = "https://s3.multiauto.site/new_cars/" ~ resource.configuration_id ~ ".jpg"%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
{% set modification = runSnippet('takemodels', {configuration_id: resource["configuration_id"] }) %}
{% include('partials/crumbs.twig') %}
{#<div class="item-page2 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="photos mb-5">
                    <div class="slider-for">
                        <div class="item"><img src="{{car_photos}}"></div>
                    </div>
                    <div class="slider-nav">
                        <div class="item"><img src="{{car_photos}}"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="info p-4 mb-5">
                    <div class="name mb-2">
                        {{resource.pagetitle}}
                    </div>
                    <div class="top-text mb-4">
                        <span class="d-inline-block py-1 px-2"><i></i> В наличии</span>
                    </div>
                    <div class="price mb-4">
                        {{resource["car-price"]}}₽
                    </div>
                    <input type="checkbox" class="checkbox" id="option1">
                    <label for="option1" class="mb-3">
                        <div><img src="../templates/major/img/option3.svg"></div>
                        <div>
                            Trade-in
                            <a data-fancybox="" data-src="#popup" href="javascript:;" class="d-block mt-2">Оценить автомобиль</a>
                        </div>
                        <div class="discount position-absolute">-60 000₽</div>
                    </label>
                    <input type="checkbox" class="checkbox" id="option2">
                    <label for="option2" class="mb-3">
                        <div><img src="../templates/major/img/option4.svg"></div>
                        <div>
                            Кредит
                            <a data-fancybox="popup2" data-src="#popupcred" href="javascript:;" class="d-block mt-2">Рассчитать кредит</a>
                        </div>
                        <div class="discount position-absolute">-60 000₽</div>
                    </label>
                    <div class="row">
                        <div class="col-6">
                            <button class="btn btn-danger w-100" data-fancybox="" data-src="#popup">Заказать звонок</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-danger w-100" data-fancybox="" data-src="#popupcred">Калькулятор кредита</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>#}
<div class="item-page pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="photo mb-sm-5 mb-4">
                    <img src="{{car_photos}}">
                </div>
            </div>
            <div class="col-lg-5">
                <h1 class="mb-3">{{resource.pagetitle}}</h1>
                <div class="price mb-3">
                    <span class="new mr-2">{{resource["car-price"]}}₽</span>
                    <span class="old">{{resource["old-car-price"]}}₽</span>
                </div>
                <div class="credit mb-4">
                    В кредит от {{ (resource["car-price"] / 72)|round }} ₽/мес <span class="d-inline-block py-2 px-3 ml-sm-3">Ставка от 5%</span>
                </div>
                <div class="vin mb-3 flex">
                    <div><img src="/templates/major/img/vin1.svg"> <span>ПТС:</span> Оригинал</div>
                    <div><img src="/templates/major/img/vin2.svg"> Проверенный <span>VIN-номер</span></div>
                </div>
                <div class="buttons row mb-2">
                    <div class="col-12">
                        <button class="w-100 mb-3 color1" data-fancybox="" data-src="#popup">Забронировать</button>
                    </div>
                    <div class="col-6">
                        <button class="w-100 color2" data-fancybox="" data-src="#popup">Рассчитать кредит</button>
                    </div>
                    <div class="col-6">
                        <button class="w-100 color3" data-fancybox="" data-src="#popup">Предложить обмен</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-form-block mb-5">
    <div class="container">
        {{ runSnippet('Form', {
        formid: 'FormCallback',
        path: '/templates/major/partials/forms/feedback/',
        extension: 'twig'
        }) | raw }}
    </div>
</div>
<div class="item-page pb-5">
    <div class="container">
        <div class="modifications-block pb-2">
            {% for item in modification %}
            {% if item["group-name"] is not empty %}
            <h3 class="mb-3">{{item["group-name"]}} {{item["Объем двигателя"]}}см³, {{item["Тип двигателя"]}}, КП {{item["Трансмиссия"]}}, {{item["Привод"]}} привод</h3>
            <div class="item mb-2">
                <div class="item-name flex">
                    <div class="name" type="button" data-toggle="collapse" data-target="#id_{{item["complectation-id"]}}" aria-expanded="false" aria-controls="id_{{item["complectation-id"]}}">
                        {{item["group-name"]}}
                    </div>
                    <div class="price">
                        <span class="old">
                            {{item['offers-price-to']|number_format(0, '.', ' ')}} ₽
                        </span>
                        <span class="new">
                            {{item['offers-price-from']|number_format(0, '.', ' ')}} ₽
                        </span>
                    </div>
                    <div class="buttons">
                        <button>В кредит за {{ (item['offers-price-from'] / 82) | round | number_format(0, '.', ' ') }} ₽/мес.</button>
                        <button>Trade-in</button>
                        <button>Забронировать</button>
                    </div>
                </div>
                <div class="item-content">
                    <select class="select" id="select">
                        <option value="val-1">Характеристики</option>
                        <option value="val-2">Комплектация</option>
                    </select>
                    <div class="tabs">
                        <ul class="tabNavigation" data-sel='[".select"]'>
                            <li><a href="#t1" class="js-val-1-btn" data-val='["val-1"]'>Характеристики</a></li>
                            <li><a href="#t2" class="js-val-2-btn" data-val='["val-2"]'>Комплектация</a></li>
                        </ul>
                        <div id="t1" class="tab-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <table>
                                       {% for key, value in item %}
                                    {% if key not in ['complectation-id', 'offers-price-from', 'offers-price-to', 'group-name', 'configuration_id', 'ID комплектации'] and value|length > 0 %}
                                    <tr>
                                        <td>{{ key }}</td>  <td>{{ value }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    
                                </div>
                            </div>
                        </div>
                        <div id="t2" class="tab-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <table>
                                        {% set options = runSnippet ('takeoptions', {
                                    complectation_id: item["complectation-id"], }) %}
                                    {% for item in options %}
                                    {% for key, value in item %}
                                    {% if key not in ['complectation_id (идентификатор комплектации)'] and value|length > 0 %}
                                    <tr>
                                        <td>{{ key }} </td> 
                                        {% if value == 1 %}
                                        <td>Есть</td>
                                        {% elseif value > 1 %}
                                        <td> {{ value }} руб. </td>
                                        {% else %}
                                        <td>{{ value }}</td>
                                    </tr>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                                    </table>
                                    {#<table>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                    </table>#}
                                </div>
                                <div class="col-md-6">
                                   {# <table>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                        <tr>
                                            <td>Питание двигателя</td>
                                            <td>непосредственный впрыск</td>
                                        </tr>
                                    </table>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {#<div class="main-info pb-3">
            <div class="block-name mb-4">
                Основная информация
            </div>
            <div class="item py-3 px-4">
                <div><img src="../templates/major/img/item-icon7.svg"></div>
                <div>
                    <span class="d-block">Цвет</span>
                    Черный сапфир металлик
                </div>
            </div>
            <div class="item py-3 px-4">
                <div><img src="../templates/major/img/item-icon8.svg"></div>
                <div>
                    <span class="d-block">Привод</span>
                    Полный
                </div>
            </div>
            <div class="item py-3 px-4">
                <div><img src="../templates/major/img/item-icon9.svg"></div>
                <div>
                    <span class="d-block">Кузов</span>
                    Седан
                </div>
            </div>
            <div class="item py-3 px-4">
                <div><img src="../templates/major/img/item-icon10.svg"></div>
                <div>
                    <span class="d-block">Салон</span>
                    Центральная часть сидений черная с синими и серыми элементами, боковины сидений черные, черная панель приборов, черное ковровое покрытие, серый потолок
                </div>
            </div>
            <div class="item py-3 px-4">
                <div><img src="../templates/major/img/item-icon11.svg"></div>
                <div>
                    <span class="d-block">Двигатель</span>
                    Бензин
                </div>
            </div>
            <div class="item py-3 px-4">
                <div><img src="../templates/major/img/item-icon12.svg"></div>
                <div>
                    <span class="d-block">Коробка</span>
                    АКПП
                </div>
            </div>
        </div>#}
        <div class="main-info pb-3">
            <div class="block-name mb-4">
                Модификации:
            </div>
        </div>
    </div>
</div>
<script>
function scrollToCreditForm() {
    const creditForm = document.getElementById("creditform");
    creditForm.scrollIntoView({ behavior: "smooth" });
}

</script>
<script>
        $(function(){
            $('#select').change(function(){
              var colorSelection = $('#select').val();
              $('.js-'+colorSelection+'-btn').trigger('click');
            })
            $('a').on('click',function(){
              var sel = $(this).parent().parent('ul').data('sel'),
                  val = $(this).data('val');
              for (i=0; i<=sel.length; i++) {
                $(sel[i]).val(val[i]);
              }
            });
        });
    </script>
{% endblock %}
