{% extends 'app.twig' %}
{% set brand = runSnippet('DocLister',{
parents: 27, depth: 0, tpl:'@CODE:<option style="z-index:999" value="[+pagetitle+]">[+pagetitle+]</option>'
}) %}
{#{{ runSnippet('DocLister', {display: 20, parents: 27, depth: 0, tvList:'car-price,old-car-price,car_photos', tpl:'@CODE:<section class="section-50 used-cars-block">
    <div class="container">
        <div class="section__top">
            <h2 class="section-title title-black mb-36">[+pagetitle+]<a class="catalog-link" href="[+url+]">
                    Все модели<svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 16.5L14 10.4154L8.1669 4.5" stroke="#F72446" stroke-width="3" stroke-linecap="round" />
                    </svg>
                </a>
            </h2>
            <div class="cards">
                [+news+]
            </div>
        </div>
</section>',prepare:'FolderCars'
}) |raw}} #}
{% block MAIN %}
<hr class="m-0" />
{% include('partials/crumbs.twig') %}
{# <div class="credit-page pb-5">
    <div class="container">
        <h1 class="mb-4">Автокредит</h1>
        <div class="row">
            <div class="col-lg-7">
                <div class="text">
                    <div class="image mb-4">
                        <img src="/templates/major/img/credit.png">
                    </div>
                    <p class="mb-4">Мы возьмем на себя подбор оптимальной кредитной программы и оформление сопутствующих документов. Вам остается лишь выбрать подходящий автомобиль и заполнить кредитную заявку для предварительного одобрения.</p>
                    <h2 class="mb-4">Преимущества Автокредита</h2>
                    <div class="blocks pb-2">
                        <div class="block d-inline-block mr-4 mb-4">
                            <div><img src="/templates/major/img/credit1.svg"></div>
                            <div>Первый взнос <br />от 0%</div>
                        </div>
                        <div class="block d-inline-block mr-4 mb-4">
                            <div><img src="/templates/major/img/credit2.svg"></div>
                            <div>По двум <br />документам</div>
                        </div>
                        <div class="block d-inline-block mr-4 mb-4">
                            <div><img src="/templates/major/img/credit3.svg"></div>
                            <div>Гарантия <br />на авто 1 год</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                {{ runSnippet('Form', {
        formid: 'FormCredit',
        path: '/templates/major/partials/forms/credit3/',
        extension: 'twig'
        }) | raw }}
                
            </div>
        </div>
        <div class="text">
            <p class="mb-4">После звонка кредитного эксперта приезжайте в автосалон и оформляйте автокредит прямо в салоне без необходимости обращения в отделение банка-партнера. <br>Годовая ставка автокредита от {% if baseSettings.credit_rate is empty %}
    4.9
{% else %}
    {{ baseSettings.credit_rate }}
{% endif %}% и зависит от конкретного банка, суммы займа и кредитной программы. Минимальный срок погашения от 61 дня, максимальный — 84 месяца. При этом любые дополнительные комисси автосалоном не взимаются.</p>
        </div>
    </div>
</div> #}
<div class="container p-4 py-5">
    <div class="row">
        {{ runSnippet('Form', {
        formid: 'FormCredit',
        path: '/templates/major/partials/forms/credit/',
        extension: 'twig'
        }) | raw }}
    </div>
</div>
{# <div class="autocredits-block pb-4">
    <div class="container">
        <h2 class="mb-4">Выгодные автокредиты</h2>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p>Максимально высокий <span>процент одобряемости</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p><span>2 документа для одобрения</span> кредита на покупку авто</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p>Кредит без обязательного страхования <span>КАСКО</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p>Процентная ставка по кредиту <span>от 0%</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p>Срок кредита <span>от 6 месяцев до 8 лет</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p><span>15 банков - партнеров</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p>Вы из регионов? - <span>оплатим дорогу!</span> <i>(в случае покупки авто)</i></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p>Первоначальный взнос по кредиту <span>от {% if baseSettings.credit_rate is empty %}
    4.9
{% else %}
    {{ baseSettings.credit_rate }}
{% endif %}%</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="item mb-4 position-relative">
                    <p>Досрочное погашение <span>кредита без штрафов</span></p>
                </div>
            </div>
        </div>
    </div>
</div> #}
{% include '/partials/not-found-block.twig' %}
{% include '/partials/banks.twig' %}
{% include '/partials/advantages_block.twig' %}
{% endblock %}
{% block SCRIPTS %}
<script src="static/js/choices.min.js"></script>
<script src="static/js/select2.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    function updateResults() {
        const creditAmount = $("#slider-range-max3").slider("value");
        const downPayment = $("#slider-range-max").slider("value");
        const term = $("#slider-range-max2").slider("value");
        const creditRate = 0.1;
        const monthlyPayment = (creditAmount - downPayment) * (creditRate / 12) / (1 - Math.pow(1 + creditRate / 12, -term));

        $(".tbl1 tr:nth-child(1) td:nth-child(2)").text(creditAmount.toLocaleString() + " ₽");
        $(".tbl1 tr:nth-child(2) td:nth-child(2)").text(downPayment.toLocaleString() + " ₽");
        $(".tbl1 tr:nth-child(3) td:nth-child(2)").text(term + " месяцев");
        $(".tbl2 tr:nth-child(1) td:nth-child(2)").text(Math.round(monthlyPayment).toLocaleString() + " ₽/мес.");
    }

    function updateDownPaymentSlider(creditAmount) {
        const minDownPayment = 0.1 * creditAmount;
        const maxDownPayment = 0.9 * creditAmount;
        let currentDownPayment = $("#slider-range-max").slider("value");

        if (currentDownPayment < minDownPayment) {
            currentDownPayment = minDownPayment;
        } else if (currentDownPayment > maxDownPayment) {
            currentDownPayment = maxDownPayment;
        }

        $("#slider-range-max").slider("option", "min", minDownPayment);
        $("#slider-range-max").slider("option", "max", maxDownPayment);
        $("#slider-range-max").slider("value", currentDownPayment);

        $("#amount").val(currentDownPayment.toLocaleString() + " ₽");
    }


    $("#slider-range-max3").slider({
        range: "max",
        min: 100000,
        max: 1000000,
        value: 500000,
        slide: function(event, ui) {
            $("#amount3").val(ui.value.toLocaleString() + " ₽");
            updateDownPaymentSlider(ui.value);
            updateResults();
        }
    });


    $("#slider-range-max").slider({
        range: "max",
        min: 10000,
        max: 900000,
        value: 250000,
        slide: function(event, ui) {
            $("#amount").val(ui.value + " ₽");
            updateResults();
        }
    });

    $("#slider-range-max2").slider({
        range: "max",
        min: 12,
        max: 60,
        value: 12,
        slide: function(event, ui) {
            $("#amount2").val(ui.value + (ui.value > 12 && ui.value < 60 ? " месяца" : " месяцев"));
            updateResults();
        }
    });

    updateResults();
});

</script>
<style>
.not-found-block{
    display:none;
}
@media (max-width: 991px) {
   .not-found-block{
    display:block;
    } 
}
</style>
{% endblock %}
