{% extends 'app.twig' %}
{% block MAIN %}
    {% set oldprice = runSnippet('helpers', {caroldprice: resource['car-price'],
        action:'caroldprice'}) %}
    {% set vigoda = oldprice - resource['car-price'] %}
    {% set configuration_id = runSnippet('DocLister', {
        id: resource.id, tvList: 'configuration_id', display: 1, tpl: '@CODE:[+tv.configuration_id+]'} ) %}

    {% set photos = resource['colors_list'] | json %}
    {% set photo = photos['Color#1']['items']['image']['value'] %}

    {% set modifications = resource['car_modifications'] | json %}

    <div class="index-page-slider text-light">
        <div class="item other"
             style="background-image: url('{{ photo }}');background-position: center;background-repeat: no-repeat;background-size: contain;width: 100%;">
            <div class="container">
                <div class="top-text mt-3 mb-3">
                </div>
                <div class="text">
                    {{ runSnippet ('DocInfo', {docid: resource.parent, field:pagetitle}) |raw }} {{ resource.pagetitle }}
                </div>
            </div>
        </div>
    </div>
    {% include '/partials/crumbs.twig' %}
    <div class="item-page pb-5">
        <div class="container position-relative">
            <img style="width: 300px; height: auto" src="" class="logo position-absolute">
            <h1 class="mb-2"> {{ runSnippet ('DocInfo', {docid: resource.parent, field:pagetitle}) |raw }} {{ resource.pagetitle }}
            </h1>
            <div class="top-text mb-4">
                Успешная модель, которая стала еще лучше
            </div>
            <div class="top-info mb-4 w-100">
                <div class="image text-center">
                    <img src="{{ photo | raw }}">
                </div>
                <div class="text">
                    <div class="name mb-3">
                        {{ runSnippet ('DocInfo', {docid: resource.parent, field:pagetitle}) |raw }} {{ resource.pagetitle }}
                    </div>
                    <span class="items text-light mb-3 py-2 px-3 d-inline-block bg-dark">4 автомобиля</span> <br/>
                    <span class="price d-inline-block py-2 px-3">от 3 378 000 ₽</span>
                </div>
            </div>
            <div class="index-catalog-block2 pb-5">
                <div class="container">
                    <div class="list" id="catalog">
                        {{ DLCatalog |raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-form-block mb-5">
        <div class="container">
            {{ runSnippet('Form', {
                formid: 'FormCallback',
                path: '/templates/major/partials/forms/feedback/',
                extension: 'twig'
            }) | raw }}
        </div>
    </div>

    <div class="item-page pb-5">
        <div class="container">
            <div class="modifications-block pb-2">
                {% for modificationKey, modification in modifications %}
                    {% set modificationKey = modificationKey | replace({'#': "-"}) %}

                    {% set modificationTitle = modification["value"] %}
                    {% if modificationTitle is empty %}
                        {% set modificationTitle = "Мод. " ~ loop.index %}
                    {% endif %}

                    {% for modificationItemKey, modificationItem in modification['items'] %}
                        {% if "ModificationItem" in modificationItemKey %}
                            {% set modificationKey = modificationKey ~ "-" ~ modificationItemKey | replace({'#': "-"}) %}

                            {% set modificationTitle = modificationTitle ~ ": " ~ modificationItem['value'] %}

                            <h3 class="mb-3">{{ modificationTitle }}</h3>
                            <div class="item mb-2">
                                <div class="item-name flex">
                                    <div class="name" type="button" data-toggle="collapse"
                                         data-target="#id_{{ modificationKey }}" aria-expanded="false"
                                         aria-controls="id_{{ modificationKey }}" style="word-break: break-word;     max-width: 170px;
">
                                        {{ modificationItem['value'] }}
                                    </div>
                                    <div class="price">
                                        <span class="old">
                                            -
                                        </span>
                                        <span class="new">
                                            {{ modificationItem['items']['price']['value'] }}
                                        </span>
                                    </div>
                                    <div class="buttons">
                                        <button class="scroll-btn">В кредит
                                            за {{ (modx.runSnippet("toInt", { value: modificationItem['items']['price']['value'] }) / 82) | round | number_format(0, '.', ' ') }}
                                             ₽/мес.
                                        </button>
                                        <button data-fancybox="" data-src="#popup">Trade-in</button>
                                        <button data-fancybox="" data-src="#popup">Забронировать</button>
                                    </div>
                                </div>
                                <div class="item-content collapse" id="id_{{ modificationKey }}">
                                    {% for modificationItemOptionKey, modificationItemOption in modificationItem['items'] %}
                                        {% if "ModificationItemOption" in modificationItemOptionKey %}
                                            <div class="card-header">{{ modificationItemOption['value'] }}</div>
                                            <div class="card-body">
                                                {{ modificationItemOption['items']['content']['value'] | raw }}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
      function scrollToForm () {
        var form = document.getElementById('FormCallback')
        form.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' })
      }

    </script>
    {{ runSnippet('takemodels', {configuration_id: resource['configuration_id'] }) }}
    {% set minam = resource['car-price'] / 10 %}
    {% set maxam = resource['car-price'] %}
{% endblock %}
