{% extends 'app.twig' %}
{% block MAIN %}
{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
_controller: 'catalog_filters',
display: 20,
parents: resource.id,
depth: 1,
orderBy: 'car-price',
order: 'RAND()',
tvSortType: 'SIGNED',
tvList:'car-price,old-car-price,car_photos,run,engine_power,gear,year, image, configuration_id, body_type',
__ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard_mod',
noneTPL:'@CODE: <div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="display-4 catalog-block h2">По вашим критериям А/М не найдены, попробуйте немного изменить условия поиска</h1>
        </div>
    </div>
</div>',
tvSortType: 'UNSIGNED',
api: 0
})
%}
{#% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
display: 3,
parents: 27,
depth: 2,
_filters: 'AND(tv:car-price:against:~car-price~)',
filters: 'AND(tv:model:=:' ~ resource.model ~ ')',
tvList:'car-price,run,engine_power,gear,year,image,body_type,model,car_color,engine_volume,fuel,drive',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
})
%#}
{#{{ runSnippet('carday', {carprice: resource["car-price"] }) | raw}} #}
{% set oldprice = runSnippet('helpers', {caroldprice: resource['car-price'],
action:'caroldprice'}) %}
{% set vigoda = oldprice - resource['car-price'] %}
{% set photo = runSnippet ('DocLister', {parents: data.id,
depth: 0,
orderBy: 'menuindex',
api: 1,
order: 'ASC',
tvList:'configuration_id, car-price, old-car-price',
ownerTPL: '@CODE:[+dl.wrap+]',
tpl:'@CODE:[+tv.configuration_id+]'}) %}
{% set DLdata = photo | json %}
{% set photo = "https://s3.multiauto.site/new_cars/" ~ DLdata|first['tv_configuration_id'] ~ ".jpg" %}
{% set configuration_id = runSnippet('DocLister', {
id: resource.id, tvList: 'configuration_id', display: 1, tpl: '@CODE:[+tv.configuration_id+]'} ) %}
{% set car_photos = "https://s3.multiauto.site/new_cars/" ~ configuration_id ~ ".jpg"%}
{#{dump(resource)}#}
<div class="index-page-slider text-light">
<div class="item other" style="background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.25)), url({{car_photos}}) center/cover;">
        <div class="container">
            <div class="top-text mb-3">
            </div>
            <div class="text">
                {{runSnippet ('DocInfo', {docid: resource.parent, field:pagetitle}) |raw }} {{resource.pagetitle}} 
            </div> 
        </div>
    </div>
</div>
{% include '/partials/crumbs.twig' %}
<div class="item-page pb-5">
    <div class="container position-relative">
        <img style="width: 300px; height: auto" src="" class="logo position-absolute">
        <h1 class="mb-2"> {{runSnippet ('DocInfo', {docid: resource.parent, field:pagetitle}) |raw }} {{resource.pagetitle}} 
</h1>
        <div class="top-text mb-4">
            Успешная модель, которая стала еще лучше
        </div>

        <div class="top-info mb-4 w-100">
            <div class="image text-center">
                <img src="{{car_photos|raw}}">
            </div>
            <div class="text">
                <div class="name mb-3">
                    {{runSnippet ('DocInfo', {docid: resource.parent, field:pagetitle}) |raw }} {{resource.pagetitle}} 
                </div>
                <span class="items text-light mb-3 py-2 px-3 d-inline-block bg-dark">4 автомобиля</span> <br />
                <span class="price d-inline-block py-2 px-3">от 3 378 000 ₽</span>
            </div>
        </div>
        
        {{DLCatalog|raw}}
        
    </div>
</div>

<div class="page-form-block mb-5">
    <div class="container">
        {{ runSnippet('Form', {
        formid: 'FormCallback',
        path: '/templates/major/partials/forms/feedback/',
        extension: 'twig'
        }) | raw }}
    </div>
</div>
{#
<div class="calc-block pt-5 pb-3 mb-5">
    <div class="container-fluid">
        <div class="block-name mb-sm-4 mb-3">
            При покупке в кредит - <span>Выгода до 100 000 рублей!</span>
        </div>
        {{ runSnippet('Form', {
        formid: 'FormCredit',
        path: '/templates/mono/partials/forms/credit/',
        extension: 'twig'
        }) | raw }}
    </div>
</div>
<div class="item-data-block pb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-lg-5 col-6">
                <div class="item position-relative mb-4">
                    Цвет <br />
                    {{resource.car_color}}
                </div>
                <div class="item position-relative mb-4">
                    Привод <br />
                    {{resource.drive}}
                </div>
                <div class="item position-relative mb-4">
                    Кузов <br />
                    {{resource.body_type}}
                </div>
                <div class="item position-relative mb-4">
                    Коробка <br />
                    {{resource.gear}}
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-6">
                <div class="item position-relative mb-4">
                    Салон <br />
                    Кожа Vernasca с перфорацией особого дизайна "Красный Такора" | "Черный".Интерьер может содержать различные материалы как, например, натуральная кожа, искусственная кожа, ткань и другие.)
                </div>
                <div class="item position-relative mb-4">
                    Двигатель <br />
                    {{resource.engine_volume}} \ {{resource.engine_power}}л.с.
                </div>
            </div>
        </div>
    </div>
</div>#}
{#% include('partials/contacts.twig') %#}
{#
<main class="main container">
    <div class="item-page pb-5">
        <div class="back-link text-center mb-3">
            <a href="#" class="d-inline-block pl-4">Назад к каталогу</a>
        </div>
        <h1 class="h1">{{resource.pagetitle}}, {{resource.year}} {{resource.modification}} </h1>
        <div class="top-text mb-3">
            {{resource.vin}}
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="photos mb-4">
                    <div class="slider-for">
                        {% if car_photos and count(car_photos)>0 %}
                        {% for image in car_photos %}
                        <div class="photo"><img src="{{image.image}}"></div>
                        {% endfor %}
                        {% else %}
                        <div class="photo"><img src="{{image.image}}"></div>
                        {% endif %}
                    </div>
                    <div class="slider-nav">
                        {% if car_photos and count(car_photos)>0 %}
                        {% for image in car_photos %}
                        <div class="photo"><img src="{{image.image}}"></div>
                        {% endfor %}
                        {% else %}
                        <div class="photo"><img src="{{image.image}}"></div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info mb-4 pt-lg-3">
                    <div class="price mb-3">
                        {{ (resource['car-price'])|number_format(0, '.', ' ') }} ₽
                    </div>
                    <div class="special mb-1">
                        Специальное предложение
                    </div>
                    <div class="nal mb-4 py-1 px-4 d-inline-block">
                        В наличии сегодня
                    </div>
                    <div class="buttons pb-3">
                        <button data-fancybox data-src="#popup2" class="w-100 mb-3">Забронировать</button>
                        <button data-fancybox data-src="#popup3" class="w-100 mb-3">Рассчитать кредит</button>
                    </div>
                    <table class="w-100">
                        <tr>
                            <td>Двигатель</td>
                            <td>{{resource.fuel
                                }}</td>
                        </tr>
                        <tr>
                            <td>Мощность</td>
                            <td>{{resource.engine_power
                                }} л.с.</td>
                        </tr>
                        <tr>
                            <td>КПП</td>
                            <td>{{resource.gear
                                }}</td>
                        </tr>
                        <tr>
                            <td>Привод</td>
                            <td>{{resource.drive
                                }}</td>
                        </tr>
                        <tr>
                            <td>Пробег</td>
                            <td>{{resource.run
                                }} км</td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>{{resource.car_color}}</td>
                        </tr>
                        <tr>
                            <td>ПТС</td>
                            <td>{{resource.pts}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="info2">
                    <div class="name mb-3">
                        Характеристики
                    </div>
                    <table class="w-100 mb-4">
                        <tr>
                            <td>Год выпуска</td>
                            <td>{{resource.year
                                }}</td>
                        </tr>
                        <tr>
                            <td>Мощность двигателя</td>
                            <td>{{resource.engine_power
                                }} л.с.</td>
                        </tr>
                        <tr>
                            <td>Коробка передач</td>
                            <td>{{resource.gear
                                }}</td>
                        </tr>
                        <tr>
                            <td>Поколение</td>
                            <td>{{resource.modification
                                }}</td>
                        </tr>
                        <tr>
                            <td>Владельцев</td>
                            <td>{% if resource.owners %}
                                {{resource.owners}}
                                {% else %}
                                Один
                                {% endif %}</td>
                        </tr>
                        <tr>
                            <td>Тип кузова</td>
                            <td>
                                {{resource.body_type}}
                            </td>
                        </tr>
                        <tr>
                            <td>Модификация</td>
                            <td>{{resource.engine_volume
                                }} {{resource.gear
                                }} ({{resource.engine_power
                                }} л.с.)</td>
                        </tr>
                        <tr>
                            <td>Цвет</td>
                            <td>{{resource.car_color}}</td>
                        </tr>
                    </table>
                </div>
                <div class="info3">
                    <div class="block mb-4 p-3 position-relative">
                        <img src="/templates/autostar/img/item-icon1.svg" class="icon position-absolute">
                        <div class="name mb-3">
                            Отчет о состоянии автомобиля
                        </div>
                        <ul class="pb-3">
                            <li class="mb-2">Проверен на наличие ДТП</li>
                            <li class="mb-2">Нет юридических ограничений</li>
                        </ul>
                        <button data-fancybox data-src="#popup1" class="w-100">Получить полный отчет</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="info3">
                    <div class="block mb-4 p-3 position-relative">
                        <img src="/templates/autostar/img/item-icon2.svg" class="icon position-absolute">
                        <div class="name mb-3">
                            Выгода при покупке в кредит
                        </div>
                        <div class="discount mb-4">
                            До 20%
                        </div>
                        <button data-fancybox data-src="#popup3" class="w-100">Рассчитать кредит</button>
                    </div>
                    <div class="buttons pb-3">
                        <button data-fancybox data-src="#popup2" class="w-100 mb-3">Забронировать</button>
                        <button data-fancybox data-src="#popup3" class="w-100 mb-3">Рассчитать кредит</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-catalog-block pb-4">
        <div class="block-name mb-4">
            Похожие автомобили
        </div>
        <div class="row">
            {{DLCatalog | raw}}
        </div>
    </div>
</main>#}
<script>
function scrollToForm() {
    var form = document.getElementById("FormCallback");
    form.scrollIntoView({ behavior: "smooth", block: "start", inline: "nearest" });
}
</script>
{{runSnippet('takemodels', {configuration_id: resource['configuration_id'] })
}}
{% set minam = resource['car-price'] / 10 %}
{% set maxam = resource['car-price'] %}
{% endblock %}