
<form class="mt-5"><input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    {{ data['form.messages'] | raw }}
                <div class="flex">
                    <h2>Заявка на обратный звонок</h2>
                    <div class="top-text">
                        Остались вопросы? <br/>
                        Мы с радостью ответим Вам
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 ">
                        <input type="text" class="{{ data['name.classname'] }}" placeholder="Введите ваше имя*" id="formName" name="name" value="{{ data.name }}">
                    </div>

                    
                    <div class = "col col-md-4 col-sm-6">
                        <input style="width: 100%;
    height: 50px;
    border-radius: 10px;
    padding: 0 15px" name="phone" id="formPhone" value="{{ data.phone }}"
                                class="phone-imask {{ data['phone.classname'] }}"
                                type="tel"  placeholder="Введите ваш телефон*">

                      <input class="form-check-input" type="checkbox" id="check_nationality" value="1" name="agree" style="margin: 0;" required>
                      <label class="form-check-label small" for="check_nationality" style="margin-left: 20px;">
                          Являюсь гражданином РФ
                      </label>
                  </div>
                  
                    <div class="col-md-4 col-sm-6">
                        <button>Отправить</button>
                    </div>
                </div>
            </form>