<form class="p-md-5 p-4 text-center">

    <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
    {{ data['form.messages'] | raw }}
    <div class="block-name mb-sm-5 mb-4 text-light">
        Выгодные условия на покупку <br />Вашего автомобиля в Кредит!
    </div>
        <div class="timer d-inline-block mb-4 p-4">
        <p class="mb-2">Успей получить скидку! Осталось:</p>
        <div class="item d-inline-block position-relative mr-4">
            <span class="d-block days">8</span>
            Дней
        </div>
        <div class="item d-inline-block position-relative mr-4">
            <span class="d-block hours">1</span>
            Час
        </div>
        <div class="item d-inline-block position-relative mr-4">
            <span class="d-block minutes">59</span>
            Мин
        </div>
        <div class="item d-inline-block position-relative">
            <span class="d-block seconds">59</span>
            Сек
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 mb-4">
            <input name="first_name" value="{{data.first_name}}" type="text" placeholder="Ваше имя" class="form-control">
        </div>
        <div class="col-md-4 col-sm-6 mb-4">
            <input type="text" value="{{ data.mobile_tel }}" name="mobile_tel" placeholder="Ваш телефон" class="form-control">
        </div>
        <div class="col-md-4 col-sm-6 mb-4">   
         <button class="btn btn-danger" style="    height: 44px;
    padding: 0 60px 0 20px;
    -webkit-border-radius: 36px;
    -moz-border-radius: 36px;
    border-radius: 36px;
    border: 0;
    font-weight: 500;
    font-size: 14px;">Получить условия и цену</button></div>
    </div>
   
</form>
