<form class="form">
    <input type="hidden" name="docid" value="{{ data.docid | default(resource.id) }}">
    <input type="hidden" name="price" value="{{ data.yourprice | default(resource[car-price]) }}" data-price>
    {{ data['form.messages'] | raw }}
    <div class="feedback-form bg-secondary text-white p-5 rounded-3">
        <h3>Остались вопросы?</h3>
        <p>
            Оставьте заявку и наши менеджеры<br />
            свяжутся с Вами в ближайшее время!
        </p>
        <div class="row mb-3">
            <div class="col">
                <input class="form-control {{ data['name.classname'] }}" type="text" placeholder="Ваше имя" id="formName" name="name" value="{{ data.name }}" />
            </div>
            <div class="col">
                <input name="phone" id="formPhone" placeholder="+7 (___) ___-__-__" value="{{ data.phone }}"
                                class="form-control phone-imask {{ data['phone.classname'] }}"
                                type="tel" />
            </div>
            <div class="col">
                <button class="btn btn-primary text-white text-nowrap">
                    Оставить заявку
                </button>
            </div>
        </div>
        <div class="form-check">
            <input type="checkbox" id="checkForm" class="form-check-input" value="1" {{ data['c.agree.1'] }} name="agree" checked/>
            <label class="form-check-label small" for="checkForm">
                Даю согласие на обработку персональных данных
            </label>
        </div>
    </div>
</form>
