{% extends 'app.twig' %}
{% block MAIN %}
    {% set catalog = runSnippet('DocLister', {
        display: 20,
        parents: resource.id,
        depth: 1,
        tvList: "car-price,old-car-price,car_photos,configuration_id",
        ownerTPL: '@T_FILE:partials/wrap',
        tpl: "@T_FILE:partials/catalogcard_mod",
        debug: 0,
        __addWhereList: 'isfolder=1',
    }) %}

    {% set brand = resource.pagetitle %}
    {% set DLCatalog = runSnippet('DocLister', {
        id: 'catalog',
        controller: 'catalog_filters',
        filters: 'AND(tv:mark_id:=:' ~ brand ~ ')' ,
        display: 6,
        parents: catalog_number,
        depth: 5,
        tvList:'car-price,old-car-price,car_photos,configuration_id',
        ownerTPL: '@T_FILE:partials/wrap',
        tpl:'@T_FILE:partials/catalogcard_mod_bu',
        TplWrapPaginate:'@CODE:<ul class="pages">[+wrap+]</ul>',
        noneTPL:'@T_FILE:partials/noitems',
    })
    %}
    {% include('partials/crumbs.twig') %}
    <div class="catalog-page pb-4">
        <div class="container">
            <div class="block-name pt-5 mb-5" style="font-weight: 700;
    font-size: 28px;
    line-height: 34px;">
                {{resource.pagetitle}} </div>
            <div class="row">
                {{catalog|raw}}
            </div>
        </div>
    </div>
    {% include('partials/banks.twig') %}

    <div class="container">{% include "/partials/advantages.twig" %}</div>
    <div class="catalog-block">
        <div class="container-fluid catalog-products" id="catalog">
            <h3 style="text-align:start;margin-bottom:16px; font-size:28px;font-weight: 600;">Горячее предложение</h3>
            <div class="catalog-page">
                <div class="container">
                    <div class="row">
                        {{DLCatalog |raw}}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-content-center p-4">
            {# <div class="bottom-button">
                <button onclick="window.location.href = '{{ makeUrl(593) }}';">Смотреть все <span></span></button>
            </div> #}
        </div>
    </div>
    <div class="container">{% include "/partials/actions2.twig" %}</div>
    <div class="page-form-block mb-5">
        <div class="container">
            {{ runSnippet('Form', {
                formid: 'FormCallback',
                path: '/templates/chinaautosalon3/partials/forms/feedback/',
                extension: 'twig'
            }) | raw }}
        </div>
    </div>
{% endblock %}
