{% extends 'app.twig' %}
{% block MAIN %}
    {% set brand_id = runSnippet ('UltimateParent', {top: catalog_number, topLevel:1}) |raw %}
    {% set model_title = runSnippet ('DocInfo', {docid: resource.parent, field:pagetitle}) |raw %}
    {% set brand_title = runSnippet ('DocInfo', {docid: brand_id, field:pagetitle}) |raw %}
    {% set ComplectationsController = runSnippet('Complectations', {toObject: 1}) %}
    {% set complectations = ComplectationsController.toArray() %}
    {% set engine = ComplectationsController.engine() %}
    {% set expense = ComplectationsController.expense() %}
    {% set power = ComplectationsController.power() %}
    {% set price = ComplectationsController.price() %}
    {% set priceOld = ComplectationsController.price_old() %}
    {% set firstConfs = complectations|first %}
    {% set firstConfs2 = firstConfs['items']|first %}
    {% set car_photos = resource.car_photos | json %}
    {% set car_photos = car_photos.fieldValue %}
    {% set descriptionsList = item['description']|split('\n') %}
    {# {% set old_car_price_number = resource['car-price']|float(0, '.', '&nbsp;') %} #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    {# % set modification = runSnippet('takemodels', {configuration_id: resource["configuration_id"] }) % #}
    {% set mark = resource.mark_id %}


    {% set DLCatalog = runSnippet('DocLister', {
        display: 9,
        parents: resource.parent,
        addWhereList: 'c.template = 31 and c.id not in (' ~ resource.id ~ ')',
        tvList:'car-price,old-car-price,car_photos,configuration_id',
        ownerTPL: '@T_FILE:partials/wrap',
        tpl:'@T_FILE:partials/catalogcard_mod_bu',
        TplWrapPaginate:'@CODE:<ul class="pages">[+wrap+]</ul>',
        noneTPL:'@T_FILE:partials/noitems',
    }) %}

    <div class="item-page py-4" style="background: #F2F3F7;">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 pl-3 pr-3">
                    <div class="photo">
                        <div class="slider-for" style="display: none;">
                            {% if resource.car_photos is empty %}
                                <img class="rounded border border-dark" src="{{ car_photos.fieldValue[0].image }}">
                            {% else %}
                                {% for image in car_photos | reverse %}
                                    <img class="first-foto-new" src="{{ image.image }}">
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-12">
                    <div class="pr-2 pl-2 pb-2 row d-flex">
                        <div class="col-8">
                            <h1 class="h1-car text-left mb-1" style="font-size: 27px; font-weight: 600;">
                                {{ resource.pagetitle }}
                            </h1>
                        </div>
                        <div class="col-md-4 col-8 custom-image-order">
                            <img src="/templates/chinaautosalon3/img/for-color/nalich.png" alt=""/>
                        </div>
                    </div>
                    <div class="info-conf pl-2">
                        {{ firstConfs2['title'] }}
                    </div>
                    <div class="info pl-2 pr-2 pb-2 pt-2">
                        <div class="row">
                            <div class="col-lg-12 mb-2">
                                <span class="price-bu">{{ price|number_format(0, '.', '&nbsp;')|raw }}₽</span>
                                <div id="carPrice" style="display: none;">{{ price }}</div>
                                <div id="oldCarPrice" style="display: none;">{{ firstConfs2['price_old'] }}</div>
                                <span class="price-old-bu pl-3">{{ firstConfs2['price_old']|number_format(0, '.', '&nbsp;')|raw }}&nbsp;₽</span></br>
                            </div>

                            <div class="price-profit-block col-xl-4 col-lg-5 col-md-5 col-sm-6 col-6 mb-2 ml-2">
                                <div id="resultBlock" style="display: none;" class="text-center">
                                    Выгода до <span class="price-profit mb-2" id="price-profit">&nbsp;₽</span>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-2 mt-2 text-left" style="font-weight: 600;">Характеристики</div>
                            <div class="row mb-2  col-md-11 col-12">
                                <div class="col-6 pr-0 characteristics-title">
                                    <div class="text-left">Год выпуска</div>
                                    <div class="text-left">Пробег</div>
                                    <div class="text-left">Двигатель</div>
                                    <div class="text-left">Коробка</div>
                                    <div class="text-left">Привод</div>
                                    <div class="text-left">Цвет</div>
                                </div>
                                <div class="lg-block col-6 pl-0 characteristics-value">
                                    <div class="text-left">2023</div>
                                    <div class="text-left">10км</div>
                                    {{ (expense ~ 'л/' ~ power ~ 'л.с/' ~ engine)|default('') ? (expense ~ 'л/' ~ power ~ 'л.с/' ~ engine)|raw }}
                                    <div class="text-left">{{ firstConfs2['transmission'] }}</div>
                                    <div class="text-left">Полный</div>
                                    <div class="text-left">Серый</div>
                                </div>
                            </div>
                            <div class="buttons lg-blocknone row col-12 mt-2">
                                <div class="col-6">
                                    <button class="w-100 color1"
                                            data-fancybox="" data-src="#popup">Купить автомобиль
                                    </button>
                                </div>
                                <div class="col-6 pl-2">
                                    <button class="color8 w-100" onclick="openPopupForm()">
                                        Купить в трейд-ин
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-12" id="destinationBlock">
                </div>

            </div>
        </div>


    </div>
    <div class="item-page py-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <h2 class="mb-3" style="font-size: 24px;font-weight: 700;">Галерея</h2>
                    <div class="photo mb-sm-5 mb-4">
                        <div class="slider-nav" style="display: none;">
                            {% if resource.car_photos is empty %}
                                <img src="{{ car_photos.fieldValue[0].image }}">
                            {% else %}
                                {% for image in car_photos | reverse %}
                                    <div class="item pl-3 pr-2 h-100"><img class="more-foto" src="{{ image.image }}">
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>


                    {% if complectations is not empty %}
                        <div class="configurations mb-5 col-12">
                            <h2 class="mb-4">Характеристики</h2>

                            <div class="mb-3">
                                <h5 class="font-weight-bold mb-2"
                                    style="color:#4A5475">{{ firstConfs['title_group'] }}</h5>

                                <div class="card mb-2">
                                    <div class="card-header  pr-1 d-flex align-items-center justify-content-between mob-wrap">
                                        <div class="row" style="color:#656A97; font-weight: 600;">
                                            {{ firstConfs2['title'] }}
                                        </div>
                                        <div class="row ml-1 config-price"
                                             style="font-weight: 600; font-size:18px;">
                                            {{ firstConfs2['price']|number_format(0, '.', '&nbsp;')|raw }}₽
                                        </div>
                                        <div class="row price-old ml-1">
                                            {{ firstConfs2['price_old']|number_format(0, '.', '&nbsp;')|raw }}₽
                                        </div>
                                        <div class="row ml-1">
                                            <div class="d-flex align-items-center justify-content-center pt-1">
                                                <img src="/templates/chinaautosalon/img/drive.png" alt=""/>
                                            </div>
                                            <div class="p-0  pl-1 pt-1">
                                                <p class="text-left title-conf">Мощность</p>
                                                <p class="text-left body-conf">{{ firstConfs2['power'] }}л.с</p>
                                            </div>
                                        </div>
                                        <div class="row ml-1">
                                            <div class="d-flex align-items-center justify-content-center pt-1">
                                                <img src="/templates/chinaautosalon/img/drive.png" alt=""/>
                                            </div>
                                            <div class="p-0  pl-1 pt-1">
                                                <p class="text-left title-conf">Привод</p>
                                                <p class="text-left body-conf">{{ firstConfs2['drive'] }}</p>
                                            </div>
                                        </div>
                                        <div class="row ml-1">
                                            <div class="d-flex align-items-center justify-content-center pt-1">
                                                <img src="/templates/chinaautosalon/img/gas-station.png" alt=""/>
                                            </div>
                                            <div class="p-0 pl-1 pt-1">
                                                <p class="text-left title-conf">Расход</p>
                                                <p class="text-left body-conf">{{ firstConfs2['expense'] }}л</p>
                                            </div>
                                        </div>
                                        <div class="row ml-1">
                                            <div class="d-flex align-items-center justify-content-center pt-1">
                                                <img src="/templates/chinaautosalon/img/engine.png" alt=""/>
                                            </div>
                                            <div class="p-0 pl-1 pt-1">
                                                <p class="text-left title-conf">Двигатель</p>
                                                <p class="text-left body-conf">{{ firstConfs2['engine_type'] }}</p>
                                            </div>
                                        </div>
                                        <div class="transmiss row">
                                            <div class="d-flex align-items-center justify-content-center pt-1">
                                                <img src="/templates/chinaautosalon/img/car-shift-pattern.png"
                                                     alt=""/>
                                            </div>
                                            <div class="p-0 pl-1 pt-1">
                                                <p class="text-left title-conf">Коробка</p>
                                                <p class="text-left body-conf">{{ firstConfs2['transmission'] }}</p>
                                            </div>
                                        </div>

                                        <div class="buttons col-md-2 col-6">
                                            <button class="color5 w-100" id="creditButton" data-fancybox=""
                                                    data-src="#popup">В кредит
                                            </button>
                                        </div>
                                        <span class="arrow">&#9660;</span>
                                    </div>
                                    <div class="card-body-conf">
                                        <article class="columns-2 p-2">
                                            {% if firstConfs2['description'] is not empty %}
                                                {% if '<ul>' in firstConfs2['description'] or '<li>' in firstConfs2['description'] or '<h4>' in firstConfs2['description'] %}
                                                    {{ firstConfs2['description'] | raw }}
                                                {% else %}
                                                    {% set sections = ['Интерьер', 'Комфорт', 'Экстерьер', 'Безопасность', 'Техника', 'Опции'] %}
                                                    {% set descriptionLines = firstConfs2['description']|split('\n') %}

                                                    {% set currentSection = '' %}
                                                    {% set inSection = false %}


                                                    {% for line in descriptionLines %}
                                                        {% set found = false %}
                                                        {% for section in sections %}
                                                            {% if section in line %}
                                                                {% if inSection %}
                                                                    </ul>
                                                                {% endif %}
                                                                <h4>{{ line }}</h4>
                                                                <ul>
                                                                {% set inSection = true %}
                                                                {% set found = true %}
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% if not found %}
                                                            {% if inSection %}
                                                                <li>{{ line }}</li>
                                                            {% else %}
                                                                {{ line }}
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}

                                                    {% if inSection %}
                                                        </ul>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                        </article>
                                    </div>
                                </div>

                            </div>

                        </div>
                    {% endif %}


                    <div class="col-xl-12 col-lg-12">
                        <div class="pt-3">{{ runSnippet('Form', {
                                formid: 'FormCallback',
                                path: '/templates/chinaautosalon/partials/forms/creditcar2/',
                                extension: 'twig'
                            }) | raw }}
                        </div>
                    </div>
                </div>

                <div class="catalog-block">
                    <div class="container-fluid catalog-products" id="catalog">
                        <h3 style="text-align:start;margin-bottom:16px; font-size:28px;font-weight: 600;">Горячее
                            предложение</h3>
                        <div class="catalog-page">
                            <div class="container">
                                <div class="row">
                                    {{ DLCatalog |raw }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-content-center p-4">
                        {# <div class="bottom-button">
                <button onclick="window.location.href = '{{ makeUrl(593) }}';">Смотреть все <span></span></button>
            </div> #}
                    </div>
                </div>


            </div>
        </div>

        {% include('partials/banks.twig') %}
        <div class="container">
            {% include "/partials/advantages.twig" %}
            {#            {% if baseSettings["color_css"] == "color2.css" %} #}
            {#                {% include "/partials/advantages2.twig" %} #}
            {#            {% elseif baseSettings["color_css"] == "color3.css" %} #}
            {#                {% include "/partials/advantages3.twig" %} #}
            {#            {% elseif baseSettings["color_css"] == "color5.css" %} #}
            {#                {% include "/partials/advantages5.twig" %} #}
            {#            {% else %} #}
            {#                {% include "/partials/advantages.twig" %} #}
            {#            {% endif %} #}
        </div>
        <div class="container">{% include "/partials/actions2.twig" %}</div>
    </div>
    <div class="page-form-block mb-5">
        <div class="container">
            {{ runSnippet('Form', {
                formid: 'FormCallback',
                path: '/templates/chinaautosalon/partials/forms/feedback/',
                extension: 'twig'
            }) | raw }}
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <style>
        button.slick-next.slick-arrow,
        button.slick-prev.slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            font-size: 0;
            z-index: 2;
            width: 22px;
            height: 37px;
        }

        button.slick-next.slick-arrow {
            right: 76px;
            background: url('templates/chinaautosalon/img/next.svg');
        }

        button.slick-prev.slick-arrow {
            left: 76px;
            background: url('templates/chinaautosalon/img/prev.svg');
        }

        .card-gift {
            width: 160px;
            border-radius: 8px;
            border: 1px solid #485478;
            height: 37px;
        }

        .card-img-top-gift {
            width: 100%;
            height: auto;
        }

        .card-body-gift {
            padding: 0.5rem;
            font-size: 13px;
            font-weight: 500;
        }

        .text-left {
            text-align: left;
        }

        .title-conf {
            font-size: 12px;
            color: #485478;
        }

        .body-conf {
            font-size: 12px;
            color: #000000;
            font-weight: 600;
        }

        .card-header .row {
            width: 100%;
            font-size: 16px;
        }

        .price-old {
            font-weight: 500;
            text-decoration-line: line-through;
            color: #656A97;
            padding-left: 15px;
        }

        .conf-img-top {
            max-width: 100%;
        }

        .columns-2 {
            column-count: 2;
        }

        .price {
            line-height: 34px;
        }

        .arrow {
            float: right;
        }

        .arrow2 {
            float: right;
        }

        .card-body-conf {
            display: none;
        }

        .first-foto {
            margin-right: auto;
            margin-left: auto;
            height: 23rem;
            object-fit: contain;
        }

        .first-foto-new {
            margin-right: auto;
            margin-left: auto;
            height: 24rem;
            object-fit: cover;
            border-radius: 20px;
        }

        .more-foto {
            margin-right: auto;
            margin-left: auto;
            border-radius: 8px;
            height: 10rem;
            object-fit: cover;
        }

        .transmiss {
            margin-left: 10px;
        }

        .info-conf {
            font-size: 18px;
            color: #A45E52;
            font-weight: 500;
        }

        .price-old-bu {
            font-weight: 500;
            text-decoration-line: line-through;
            color: #656A97;
            padding-left: 15px;
        }

        .item-page .info .price-bu {
            font-weight: 700;
            font-size: 22px;
            line-height: 36px;
            color: #F3BA13;
        }

        .item-page .info .price-profit-block {
            font-size: 12px;
            border-radius: 8px;
            line-height: 36px;
            color: #FFFFFF;
            background-color: #000000;
        }

        .characteristics-title {
            line-height: 154%;
            color: #000000;
            font-size: 14px;
        }

        .characteristics-value {
            font-size: 14px;
            color: #0A4B73;
            line-height: 154%;
            font-weight: 500;
        }

        .item-page .info .buttons button.color8 {
            background: #FFFFFF;
            border: #4E3249 1px solid;
            color: #4E3249;
        }

        .conf-new-title {
            font-size: 14px;
            color: #000000;

        }

        .conf-new-val {
            font-size: 14px;
            color: #000000;
            font-weight: 500;
        }

        @media only screen and (max-width: 1191px) {
            .card-header .row {
                font-size: 15px;
            }
        }

        @media only screen and (max-width: 991px) {
            .more-foto {
                margin-right: auto;
                margin-left: auto;
                border-radius: 8px;
                height: 9rem;
                object-fit: cover;
            }

            .first-foto {
                margin-right: auto;
                margin-left: auto;
                height: 19rem;
                object-fit: contain;
            }

            .first-foto-new {
                margin-right: auto;
                margin-left: auto;
                height: 19rem;
                object-fit: cover;
                border-radius: 20px;
            }

            .card-header {
                flex-direction: column;
                align-items: flex-start;
            }

            .card-header .row {
                width: 100%;
                margin-bottom: 10px;
            }

            .price-old {
                padding-left: 0;
            }

            .card-header .row {
                font-size: 16px;
            }

            .transmiss {
                margin-left: 0;
                padding-left: 0;
            }

            .arrow {
                position: relative;
                bottom: 217px;
                left: 42%;
                font-size: 20px;
            }

            .arrow2 {
                position: relative;
                bottom: 20px;
                left: 42%;
                font-size: 20px;
            }

            .pr-2.pl-2.pb-2.row.d-flex {
                margin-top: 16px;
            }
        }

        @media only screen and (max-width: 767px) {
            .columns-2 {
                column-count: 1;
            }

            .first-foto {
                height: 15rem;
            }

            .more-foto {
                margin-right: auto;
                margin-left: auto;
                border-radius: 8px;
                height: 6rem;
                object-fit: fill;
            }

            .conf-img-top {
                max-width: 80%;
            }

            .title-conf {
                font-size: 10px;
                color: #485478;
            }

            .body-conf {
                font-size: 10px;
                color: #000000;
                font-weight: 600;
            }
        }

        @media only screen and (max-width: 575px) {
            .conf-img-top {
                max-width: 80%;
            }

            .price {
                padding-left: 0px;
            }

            .first-foto {
                height: 14rem;
                object-fit: contain;
            }

            .more-foto {
                margin-right: auto;
                margin-left: auto;
                border-radius: 8px;
                height: 4rem;
                object-fit: cover;
            }
        }

        @media (max-width: 552px) {
            .custom-image-order {
                order: -1;
                margin-bottom: 32px;
                margin-top: 16px;
            }
        }

        @media (max-width: 400px) {
            .card-body-gift {
                font-size: 12px;
            }

            button.slick-next.slick-arrow {
                right: 31px;
            }

            button.slick-prev.slick-arrow {
                left: 31px;
            }

            .first-foto {
                object-fit: contain;
            }

            .first-foto-new {
                margin-right: auto;
                margin-left: auto;
                height: 14rem;
                object-fit: cover;
                border-radius: 20px;
            }

            .conf-new-title {
                font-size: 12px;
                color: #000000;
            }

            .conf-new-val {
                font-size: 12px;
                color: #000000;
                font-weight: 500;
            }
        }

        @media (max-width: 360px) {
            .card-body-gift {
                font-size: 12px;
            }

            .conf-img-top {
                max-width: 60%;
            }

            .title-conf {
                font-size: 7px;
            }

            .body-conf {
                font-size: 7px;
            }
        }
    </style>
    <script>
      function changeTab (complectationId) {
        var selectElement = document.getElementById('select_' + complectationId)
        var selectedValue = selectElement.value

        if (selectedValue === 'exterior') {
          document.getElementById('exterior-tabid_' + complectationId).click()
        } else if (selectedValue === 'interior') {
          document.getElementById('interior-tabid_' + complectationId).click()
        }
      }
    </script>
    <script>
      function scrollToCreditForm () {
        const creditForm = document.getElementById('creditform')
        creditForm.scrollIntoView({ behavior: 'smooth' })
      }

    </script>
    <script>
      // Функция для обновления отображения даты
      function updateEndDate () {
        var currentDate = new Date()
        var endDate = new Date(currentDate.getTime() + 8 * 24 * 60 * 60 * 1000)

        var day = endDate.getDate()
        var month = endDate.getMonth() + 1 // Месяцы в JavaScript нумеруются с 0, поэтому добавляем 1
        var year = endDate.getFullYear()

        // Форматируем день и месяц, чтобы добавить ведущий ноль при необходимости
        day = day < 10 ? '0' + day : day
        month = month < 10 ? '0' + month : month

        document.getElementById('dateend').textContent = day + '.' + month + '.' + year
      }

      // Обновление даты при загрузке страницы
      window.onload = updateEndDate

    </script>
{% endblock %}
{% block SCRIPTS %}
    <script>

      // $('.slider-for').slick({
      //   slidesToShow: 1,
      //   slidesToScroll: 1,
      //   asNavFor: '.slider-nav',
      //   responsive: [{
      //     breakpoint: 576,
      //     settings: {
      //       arrows: true,
      //       dots: false
      //     }
      //   }]
      // });
      // $('.slider-nav').slick({
      //   slidesToShow: 5,
      //   slidesToScroll: 3,
      //   asNavFor: '.slider-for',
      //   arrows: true,
      //   focusOnSelect: true,
      //   prevArrow: '<button type="button" class="slick-prev">Previous</button>',
      //   nextArrow: '<button type="button" class="slick-next">Next</button>'
      // });

      $(document).ready(function () {
        $('.card-header').click(function () {
          $(this).next('.card-body-conf').slideToggle()
          $(this).find('.arrow').text(function (_, oldText) {
            return oldText === '▼' ? '▲' : '▼'
          })
        })

        $('#creditButton').click(function (event) {
          event.stopPropagation()
          $.fancybox.open({
            src: '#credit-popup-plate',
            type: 'inline'
          })
        })
      })

      $(document).ready(function () {
        var oldCarPriceText = $('#oldCarPrice').text()
        var carPriceText = $('#carPrice').text()

        var oldCarPrice = parseFloat(oldCarPriceText.replace('$', '').replace(',', ''))
        var carPrice = parseFloat(carPriceText.replace('$', '').replace(',', ''))

        if (oldCarPrice !== 0 && oldCarPrice > carPrice && !isNaN(oldCarPrice)) {
          var priceDifference = oldCarPrice - carPrice

          const saleTradeIn = 15 // процент скидки по trade-in или утилизации
          const saleModel = 18 // процент скидки по модельному ряду
          const saleFinance = 45 // процент скидки по программе finance
          const saleDealer = 22 // процент скидки по программе от дил центра

          const priceSaleTradeIn = Math.round((priceDifference * saleTradeIn) / 100)
          const priceSaleModel = Math.round((priceDifference * saleModel) / 100)
          const priceSaleFinance = Math.round((priceDifference * saleFinance) / 100)
          const priceSaleDealer = Math.round((priceDifference * saleDealer) / 100)

          $('#resultBlock').css('display', 'block')
          $('#price-profit').text(priceDifference.toLocaleString('ru-RU') + '₽')

          $('#priceSaleTradeIn').text(priceSaleTradeIn.toLocaleString('ru-RU') + '₽')
          $('#priceSaleModel').text(priceSaleModel.toLocaleString('ru-RU') + '₽')
          $('#priceSaleFinance').text(priceSaleFinance.toLocaleString('ru-RU') + '₽')
          $('#priceSaleDealer').text(priceSaleDealer.toLocaleString('ru-RU') + '₽')
        }
      })
      $(document).ready(function () {
        function moveContent () {
          var windowWidth = $(window).width()
          if (windowWidth < 541) {
            $('#blockToMove').children().appendTo('#destinationBlock')
            $('#destinationBlock').show() // Показать блок при ширине < 541px
          } else {
            $('#destinationBlock').hide() // Скрыть блок при ширине >= 541px
            $('#destinationBlock').empty() // Очистить блок при ширине >= 541px
          }
        }

        moveContent()

        $(window).resize(function () {
          moveContent()
        })
      })

    </script>

{% endblock %}
