{#<div class="item">#}
{#    <img src="{{ runSnippet('phpthumb', {input: data['tv.image'], options:'h=300,zc=1'}) }}" class="w-100">#}
{#    <a href="#" class="d-block text-center py-3 px-lg-5 px-3">{{ data.title }}</a>#}
{#</div>  #}

{#New#}

<div class="col-md-4 col-sm-6 mb-3">
    <div class="item h-100">
        <img src="{{ runSnippet('phpthumb', {input: data['tv.image'], options:'h=500,zc=1'}) }}">
        <div class="p-3">
            <div class="name mb-2">
                {{ data.pagetitle }}
            </div>
            {{ data.longtitle }}
        </div>
    </div>
</div>

