{% extends 'app.twig' %}

{% block MAIN %}

{% set DLCatalog = runSnippet('DocLister', {
id: 'catalog',
display: 4,
parents: 27,
depth: 2,
_filters: 'AND(tv:car-price:against:~car-price~)',
filters: 'AND(tv:model:=:' ~ resource.model ~ ')',
tvList:'car-price,run,engine_power,gear,year,image,body_type,model,car_color,engine_volume,fuel,drive',
ownerTPL: '@T_FILE:partials/wrap',
tpl:'@T_FILE:partials/catalogcard',
})
%}


{% set cardphoto = runSnippet('morephoto', {
images: resource["car_photos"],
image: resource.car-photos,
phpthumb: 'w=570,h=0',
ownerTPL: '[+wrap+]',
display: 1
})
%}

{#{{ runSnippet('carday', {carprice: resource["car-price"] }) | raw}} #}
{% set oldprice = runSnippet('helpers', {caroldprice: resource['car-price'],
action:'caroldprice'}) %}

{% set month = runSnippet('helpers', {carmonth: resource['car-price'],
action:'carmonth'}) %}

{% set vigoda = oldprice - resource['car-price'] %}

{% set gifts = runSnippet('DocLister', {
display: 3,
parents: 24,
depth: 0,
tvList:'image,color',
tpl:'@T_CODE: <div class="gift__item">
    <div style="background: linear-gradient(to bottom, {{ data[\'tv.color\'] }} 0px, {{ data[\'tv.color\'] }} 123px, #ffffff 123px, #ffffff 100%)" class="gift-item gift-item--transit">
        <div class="gift-item__text-wrap">
            <div class="gift-item__text">{{ data.title }}</div>
        </div>
        <div class="gift-item__photo-wrap">
            <img style="max-width:130px" src="{{ runSnippet(\'phpthumb\', {input: data[\'tv.image\'], options:\'w=130,h=130,zc=1\'}) }}" alt="{{ data.title }}" class="gift-item__photo">
        </div>
    </div>
</div>'
})%}

{% endblock %}
