{% extends 'app.twig' %}
{% set brand = runSnippet('DocLister',{
parents: 27, depth: 0, tpl:'@CODE:<option style="z-index:999" value="[+pagetitle+]">[+pagetitle+]</option>'
}) %}
{% block MAIN %}
<hr class="m-0" />
<div class="container p-4 py-5">
  <h4 class="fw-bold mb-5">Автокредит</h4>
  <div class="row col-xl-12 col-lg-12 col-md-12 m-0">
  
  <div class="container col-xl-8 col-lg-8 col-md-8 ml-0 pl-0 mb-2">
  <img src="/templates/rofl/img/credit/imgkredit.jpg" alt="" />
      <p class="cred_text col-lg-12 col-md-12 mt-4 mb-2 pl-0">
        Мы возьмем на себя подбор оптимальной кредитной программы и оформление
        сопутствующих документов. Вам остается лишь выбрать подходящий автомобиль и заполнить кредитную заявку для предварительного одобрения.
      </p>

      <div class="container mt-5 mb-5 p-0">
        <h4 class="mb-4 mt-5" style="font-weight: 700;font-size: 20px;line-height: 24px;color: #182232;">Преимущества Автокредита</h4>
        <div class="row d-flex m-1 p-0">
          <div class="row d-flex col-lg-4 col-md-4 col-sm-4 col-4 w-auto sale-item">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 d-flex align-items-center justify-content-center">
              <img src="/templates/rofl/img/credit/cash.png" alt="" />
            </div>
            <div class="p-0 col-lg-8 col-md-12 col-sm-12 col-xs-12 col-12">
              <p class="advantage">Первый взнос<br> от 0%</p>
            </div>
          </div>
          <div class=" row d-flex col-lg-4 col-md-4 col-sm-4 col-4 w-auto sale-item">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 col-12 d-flex align-items-center justify-content-center">
              <img src="/templates/rofl/img/credit/doc.png" alt="" />
            </div>
            <div class="p-0 col-lg-8 col-md-12 col-sm-12 col-xs-12 col-12">
              <p class="advantage">По двум <br>документам</p>
            </div>
          </div>
          <div class=" row d-flex col-lg-4 col-md-4 col-sm-4 col-4 w-auto sale-item">
            <div class=" col-lg-4 col-md-12 col-sm-12 col-12 d-flex align-items-center justify-content-center">
              <img src="/templates/rofl/img/credit/garant.png" alt="" />
            </div>
            <div class="p-0 col-lg-8 col-md-12 col-sm-12 col-xs-6 col-12">
              <p class="advantage">Гарантия<br> на авто 1 год</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contaimer mt-4">
        <p class="cred_text col-lg-12 col-md-12 mb-4 pl-0">
          После звонка кредитного эксперта приезжайте в автосалон и оформляйте автокредит прямо в салоне без необходимости обращения в отделение банка-партнера.
          Годовая ставка автокредита <strong>от 4,9%</strong> и зависит от конкретного банка, суммы займа и кредитной программы. Минимальный срок погашения от 61 дня, максимальный — 84 месяца.<strong> При этом любые дополнительные комиссии автосалоном не взимаются.</strong>
        </p>
      </div>
    </div> 

    <div class="form form_cred col-xl-4 col-lg-4 ml-0 p-2" style="height: 600px;background: linear-gradient(96.91deg, #0F1723 0%, #25344B 70.3%);border-radius: 14px;">
      <div class="col-xl-12 col-md-12">
          <div class="field">
              <div class="d-flex">
                <span class="credit-title text-left pt-3" style="font-family: 'Montserrat';font-style: normal;font-weight: 700;font-size: 28px;line-height: 34px;color: #FFFFFF;">Форма заявки</span>
              </div>
            </div>
          </div> 
          <div class="field mt-4 mx-3" style="font-weight: 500;font-size: 14px;line-height: 17px;color: #FFFFFF;">
            <label class="lab mb-2">Выберите желаемый автомобиль</label>  
              <input placeholder="Марка" class="form-control  px-1 select  select_cred py-2 border-0 w-100">
                
              </input>
              <input placeholder="Модель" class="form-control  px-1 select select_cred py-2 border-0 w-100 mt-1">
                
              </input>
              <input placeholder="Особые пожелания" class="form-control  px-1  select select_cred py-2 border-0 w-100 mt-1">
                
              </input>
            </div>

            <div class=" mx-3 field mb-1 mt-4 pt-sm-0 pt-4 text-left">
                <label class="lab mb-2">Укажите свои данные</label>
                <input name="first_name" value="{{ data.first_name }}" type="text" class="form-control {{ data['first_name.classname'] }}" id="calc-input-5" type="text" placeholder="Ваше имя" />
            </div>
         
    
          <div class=" mx-3 field mb-4 pt-sm-0 pt-4 text-left">
            <input value="{{ data.mobile_tel }}" name="mobile_tel"  class="form-control py-2 border-1 phone-imask {{ data['mobile_tel.classname'] }}" id="calc-input-6" type="text" placeholder="+7 (000) 000-00-00" />
          </div>
        
        <div class="  mx-3 text-center pt-2">
          <button type="submit" class="btn btn-danger w-100 mt-1" style="border-radius: 8px;">Оставить заявку</button>
        </div>
        
          <p class=" mx-3 pt-1" style="font-weight: 400;font-size: 12px;line-height: 150%;letter-spacing: 0.2px;color: #FFFFFF;">
            Нажимая на кнопку "Отправить заявку" вы даете согласие на обработку <a href="#" class="text-danger"> персональных данных</a>
          </p>
        
      </div> 
      </div>
 
  <div class="container mt-5 p-0">

  
  </div>
  <div class="row d-flex">
    {{ runSnippet('Form', {
    formid: 'FormCredit',
    path: '/templates/autodm/partials/forms/credit/',
    extension: 'twig'
    }) | raw }}
  </div>
  <div class="container p-4">
    <h4 class="title_cred mt-4 mb-4">Выгодные автокредиты</h4>
    <div class="application row  ml-1 ">
      <div class="col_cred col-xl-4 col-md-6 mb-5 mt-3">
        <div class="line_cred"></div>
        <div class="field mb-4 pt-sm-0 text-left">
          <div class="d-flex flex-column">
            <p class="text_present m-2">Максимально высокий <br><strong>процент одобряемости</strong> </p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5 mt-4">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present m-2"><strong>2 документа для одобрения</strong><br> кредита на покупку авто</p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5 mt-4">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present m-2">Кредит без обязательного<br> страхования <strong> КАСКО</strong></p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present m-2">Процентная ставка<br> по кредиту <strong>от 0%</strong> </p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present m-2">Срок кредита<br><strong> от 6 месяцев до 8 лет</strong></p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present mt-4 mb-4"><strong> 15 банков - партнеров</strong></p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present">Вы из регионов? -<strong> оплатим<br> дорогу!</strong> <span style="color:#98AEC3;">(в случае покупки авто)</span></p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present m-2">Первоначальный взнос<br> по кредиту <strong> от 0%</strong></p>
          </div>
        </div>
      </div>
      <div class="col_cred col-xl-4 col-md-6 mb-5">
        <div class="field mb-4 pt-sm-0 pt-4 text-left">
          <div class="line_cred"></div>
          <div class="d-flex flex-column">
            <p class="text_present m-2">Досрочное погашение <br> <strong>кредита без штрафов</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% set bank_logos = runSnippet('DocInfo', {field: 'images', docid: 41118}) | json %}
  <div class="container banks_cred">
    <h4 class="title_cred mt-4 mb-2">Банки партнёры</h4>
    <div class="row d-flex justify-content-between">
      {% for item in bank_logos["fieldValue"] %}
      <div class=" col-lg-2 col-md-3 col-sm-4 mb-2">
        <img src="{{item.image}}" alt="" style="width:auto;"/>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="container newform my-5">
    <div class="cred_newform container">
      <div class="img_container container">
        <img src="/templates/rofl/img/credit/girl.png" alt="" />
      </div>
      <div class="col-xl-6 col-md-12">
        <div class="field">
          <div class="d-flex justify-content-between">
            <span class="credit-title text-left pt-3" style="font-weight: 700;font-size: 28px;line-height: 34px;color: #FFFFFF;">Одобряем <span style="color:#D12D1E;"> 98 %</span> кредитов</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="credit-cont text-left w-4 pt-4" style="font-weight: 400;font-size: 20px;line-height: 24px;color: #FFFFFF;">Оставьте заявку чтобы</span>
          </div>
          <div class="d-flex justify-content-between">
            <span class="credit-cont text-left w-4 pt-2" style="font-weight: 400;font-size: 20px;line-height: 24px;color: #FFFFFF;">зафиксировать Вашу ставку!</span>
          </div>
        </div>
      </div>
      <div class="application_cr row mt-1 mt-4 ml-1">
        <div class="col-lg-4 col-md-4">
          <div class="field mb-4 pt-sm-0 pt-4 text-left">
            <label class="mb-2" style="width: 100%;color: #FFFFFF;">Ваше имя</label>
            <input name="first_name" value="{{ data.first_name }}" type="text" class="form-control {{ data['first_name.classname'] }}" id="calc-input-5" type="text" placeholder="Иван" />
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="field mb-4 pt-sm-0 pt-4 text-left">
            <label class="mb-2" style="width: 100%;color: #FFFFFF;">Ваш телефон</label>
            <input value="{{ data.mobile_tel }}" name="mobile_tel" class="form-control py-2 border-1 phone-imask {{ data['mobile_tel.classname'] }}" id="calc-input-6" type="text" placeholder="+7 (000) 000-00-00" />
          </div>
        </div>
        <div class="text-center pt-3 col-lg-4 col-md-4">
          <button type="submit" class="btn btn-danger w-100 mt-2 form-control" style="background: #D12D1E;border-radius: 8px;">Оставить заявку</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="cred_formin container mb-5">
  <div class="col-xl-6 col-md-12">
    <div class="field">
      <div class="d-flex justify-content-between">
        <span class="credit-title text-left pt-3" style="font-weight: 700;font-size: 28px;line-height: 34px;color: #FFFFFF;">Одобряем <span style="color:#D12D1E;"> 98 %</span> кредитов</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="credit-cont text-left w-4 pt-4" style="font-weight: 400;font-size: 20px;line-height: 24px;color: #FFFFFF;">Оставьте заявку чтобы</span>
      </div>
      <div class="d-flex justify-content-between">
        <span class="credit-cont text-left w-4 pt-2" style="font-weight: 400;font-size: 20px;line-height: 24px;color: #FFFFFF;">зафиксировать Вашу ставку!</span>
      </div>
    </div>
  </div>
  <div class="application_crmin row mt-3 ml-1">
    <div class="col-md-12">
      <div class="field mb-1 pt-sm-0 pt-2 text-left">
        <label class="mb-2" style="width: 100%;color: #FFFFFF;">Ваше имя</label>
        <input name="first_name" value="{{ data.first_name }}" type="text" class="form-control {{ data['first_name.classname'] }}" id="calc-input-5" type="text" placeholder="Иван" />
      </div>
    </div>
    <div class="col-md-12">
      <div class="field mb-1 pt-sm-0 pt-2 text-left">
        <label class="mb-2" style="width: 100%;color: #FFFFFF;">Ваш телефон</label>
        <input value="{{ data.mobile_tel }}" name="mobile_tel" class="form-control py-2 border-1 phone-imask {{ data['mobile_tel.classname'] }}" id="calc-input-6" type="text" placeholder="+7 (000) 000-00-00" />
      </div>
    </div>
    <div class="text-center pt-2 col-md-12">
      <button type="submit" class="btn btn-danger w-100 mt-2 form-control" style="background: #D12D1E;border-radius: 8px;">Оставить заявку</button>
    </div>
  </div>
</div>
</div>
{% endblock %}
{% block SCRIPTS %}
<script src="static/js/choices.min.js"></script>
<script src="static/js/select2.js"></script>
{% endblock %}
