{% extends 'app.twig' %}
{% block MAIN %}
    {% set ComplectationsController = runSnippet('Complectations', {toObject: 1}) %}
    {% set complectations = ComplectationsController.toArray() %}
    {% set price_min = ComplectationsController.price() %}
    {% set price_old_min = ComplectationsController.priceOld() %}
    {% set car_photos_one = "https://s3.multiauto.site/new_cars/" ~ resource.configuration_id ~ ".jpg" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    {% set car_photos = runSnippet('DocInfo', {field: "car_photos", docid: resource.id}) | json %}
    {% set car_photos = car_photos.fieldValue %}

    {% include('partials/crumbs.twig') %}

    <div class="item-page pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="photo mb-sm-5 mb-4">
                        <div class="slider-for">
                            {% if car_photos is empty %}
                                <img src="{{ car_photos_one }}">
                            {% else %}
                                {% for image in car_photos %}
                                    <div class="item"><img src="{{ image.image }}"></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="slider-nav">
                            {% if car_photos is empty %}
                                <img src="{{ car_photos_one }}">
                            {% else %}
                                {% for image in car_photos %}
                                    <div class="item"><img src="{{ image.image }}"></div>
                                {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="col-lg-5">
                    <h1 class="mb-3">{{ resource.pagetitle }}</h1>
                    {% if price_min > 0 %}
                        <div class="price mb-3">
                            <span class="new mr-2">{{ price_min }}₽</span>
                            {% if price_old_min > 0 %}
                                <span class="old">{{ price_old_min }}₽</span>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="credit mb-4">
                        В кредит от {{ (price_min / 72)|round }} ₽/мес <span
                                class="d-inline-block py-2 px-3 ml-sm-3">Ставка от {% if baseSettings.credit_rate is empty %}
    4.9
{% else %}
    {{ baseSettings.credit_rate }}
                            {% endif %}%</span>
                    </div>
{#                    {{ dump(baseSettings.credit_rate) }}#}
                    <div class="vin mb-3 flex">
                        <div><img src="/templates/chinamajor/img/vin1.svg"> <span>ПТС:</span> Оригинал</div>
                        <div><img src="/templates/chinamajor/img/vin2.svg"> Проверенный <span>VIN-номер</span></div>
                    </div>
                    <div class="buttons row mb-2">
                        <div class="col-12">
                            <button class="w-100 mb-3 color1" data-fancybox="" data-src="#popup">Забронировать</button>
                        </div>
                        <div class="col-6">
                            <button class="w-100 color2 scroll-btn">Рассчитать кредит</button>
                        </div>
                        <div class="col-6">
                            <button class="w-100 color3" data-fancybox="" data-src="#popup">Предложить обмен</button>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    {% if complectations is not empty %}
                        <div class="configurations mb-5">
                            <h2 class="mb-4">Доступные комплектации</h2>
                            {% for complectation in complectations %}
                                <div class="mb-3">
                                    <h5 class="font-weight-bold mb-2">{{ complectation['title_group'] }}</h5>
                                    {% for item in complectation['items'] %}
                                        <div class="card mb-2">
                                            <div class="card-header">{{ item['title'] }}</div>
                                            <div class="card-body">
                                                <table class="table table-striped">
                                                    <thead>
                                                    <th>Наименование</th>
                                                    <th>Цена</th>
                                                    <th>Старая цена</th>
                                                    <th>Привод</th>
                                                    <th>Коробка передач</th>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>{{ item['title'] }}</td>
                                                        <td>{{ item['price'] }}</td>
                                                        <td>{{ item['price_old'] }}</td>
                                                        <td>{{ item['drive'] }}</td>
                                                        <td>{{ item['transmission'] }}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                                {% if item['description'] is not empty %}
                                                    <div class="font-weight-bold">Описание</div>
                                                    <div>{{ item['description'] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="page-form-block mb-5">
        <div class="container">
            {{ runSnippet('Form', {
                formid: 'FormCallback',
                path: '/templates/chinamajor/partials/forms/feedback/',
                extension: 'twig'
            }) | raw }}
        </div>
    </div>
    <div class="container py-5" id="creditblock">
        <div class="row">
            {{ runSnippet('Form', {
                formid: 'FormCredit',
                path: '/templates/chinamajor/partials/forms/credit/',
                extension: 'twig'
            }) | raw }}
        </div>
    </div>
    <script>
      function scrollToCreditForm () {
        const creditForm = document.getElementById('creditform')
        creditForm.scrollIntoView({ behavior: 'smooth' })
      }

    </script>
{% endblock %}
{% block SCRIPTS %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        let tabs = document.querySelectorAll('.tabNavigation li a')

        tabs.forEach(function (tab) {
          tab.addEventListener('click', function (e) {
            e.preventDefault()

            // Убираем активный класс со всех табов
            tabs.forEach(function (innerTab) {
              innerTab.classList.remove('active')
            })

            // Добавляем активный класс к кликнутому табу
            tab.classList.add('active')

            let target = tab.getAttribute('href')
            let tabContents = document.querySelectorAll('.tab-content')

            // Скрываем все содержимое табов
            tabContents.forEach(function (tabContent) {
              tabContent.style.display = 'none'
            })

            // Показываем содержимое активного таба
            document.querySelector(target).style.display = 'block'
          })
        })
      })

    </script>
    <script type="text/javascript">
      $(document).ready(function () {
        function updateResults () {
          const creditAmount = $('#slider-range-max3').slider('value')
          const downPayment = $('#slider-range-max').slider('value')
          const term = $('#slider-range-max2').slider('value')
          const creditRate = 0.1
          const monthlyPayment = (creditAmount - downPayment) * (creditRate / 12) / (1 - Math.pow(1 + creditRate / 12, -term))

          $('.tbl1 tr:nth-child(1) td:nth-child(2)').text(creditAmount.toLocaleString() + ' ₽')
          $('.tbl1 tr:nth-child(2) td:nth-child(2)').text(downPayment.toLocaleString() + ' ₽')
          $('.tbl1 tr:nth-child(3) td:nth-child(2)').text(term + ' месяцев')
          $('.tbl2 tr:nth-child(1) td:nth-child(2)').text(Math.round(monthlyPayment).toLocaleString() + ' ₽/мес.')
        }

        function updateDownPaymentSlider (creditAmount) {
          const minDownPayment = 0.1 * creditAmount
          const maxDownPayment = 0.9 * creditAmount
          let currentDownPayment = $('#slider-range-max').slider('value')

          if (currentDownPayment < minDownPayment) {
            currentDownPayment = minDownPayment
          } else if (currentDownPayment > maxDownPayment) {
            currentDownPayment = maxDownPayment
          }

          $('#slider-range-max').slider('option', 'min', minDownPayment)
          $('#slider-range-max').slider('option', 'max', maxDownPayment)
          $('#slider-range-max').slider('value', currentDownPayment)

          $('#amount').val(currentDownPayment.toLocaleString() + ' ₽')
        }

        $('#slider-range-max3').slider({
          range: 'max',
          min: 100000,
          max: 1000000,
          value: 500000,
          slide: function (event, ui) {
            $('#amount3').val(ui.value.toLocaleString() + ' ₽')
            updateDownPaymentSlider(ui.value)
            updateResults()
          }
        })

        $('#slider-range-max').slider({
          range: 'max',
          min: 10000,
          max: 900000,
          value: 250000,
          slide: function (event, ui) {
            $('#amount').val(ui.value + ' ₽')
            updateResults()
          }
        })

        $('#slider-range-max2').slider({
          range: 'max',
          min: 12,
          max: 60,
          value: 12,
          slide: function (event, ui) {
            $('#amount2').val(ui.value + (ui.value > 12 && ui.value < 60 ? ' месяца' : ' месяцев'))
            updateResults()
          }
        })

        updateResults()
      })

    </script>
    <script>
      const buttons = document.querySelectorAll('.scroll-btn')

      buttons.forEach(button => {
        button.addEventListener('click', function () {
          const creditBlock = document.getElementById('creditblock')
          creditBlock.scrollIntoView({ behavior: 'smooth' })
        })
      })
    </script>
{% endblock %}
